Mikhail Kharlamov 
Mobile Telecoms Project 
Data was obtained in *.zip from the public website of International Telecommunications Union, https://datahub.itu.int/  except for summary table with country classification, which wwas downloaded from https://datahub.itu.int/dashboards/idi/?e=ISR&y=2025 
Source: https://datahub.itu.int/

In [47]:
!pip install nbformat
!pip install xarray
!pip install plotly
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import matplotlib.ticker as ticker
%matplotlib notebook
import seaborn as sns
%matplotlib inline
import zipfile
import xarray as xr
import unicodedata
from tkinter import filedialog, Tk
import tkinter as tk
from tkinter import filedialog
import plotly.express as px
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
from tkinter import filedialog, ttk

Requirement already satisfied: nbformat in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from nbformat) (4.25.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from nbformat) (5.8.1)
Requirement already satisfied: traitlets>=5.1 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from jsonschema>=2.6->nbformat) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from jsonschema>=2.6->nbformat) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from jsonschema>=2.6->nbformat) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from jsonschema>=2.6->nbformat) (0.27.0)
Requirement already satisfied: platformdirs>=2.5 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.8)
Requirement already satisfied: pywin32>=300 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (311)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: xarray in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (2025.7.1)
Requirement already satisfied: numpy>=1.26 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from xarray) (2.3.2)
Requirement already satisfied: packaging>=24.1 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from xarray) (25.0)
Requirement already satisfied: pandas>=2.2 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from xarray) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from pandas>=2.2->xarray) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from pandas>=2.2->xarray) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from pandas>=2.2->xarray) (2025.2)
Requirement already satisfied: six>=1.5 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.2->xarray) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: plotly in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (6.2.0)
Requirement already satisfied: narwhals>=1.15.1 in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from plotly) (2.0.1)
Requirement already satisfied: packaging in e:\backup\it works cyberpro data analyst\final python project\env\lib\site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
# I like keeping these descriptions in the code 
zip_path = r"E:\Backup\IT Works Cyberpro Data Analyst\Final Python Project\mobile-cellular-subscriptions_1753728062739.csv.zip"
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    print("Files in zip:", zip_ref.namelist())   # List all files in the zip
    
    csv_filename = zip_ref.namelist()[0]  # Extract CSV file name assuming there's only one CSV in the zip
    
    with zip_ref.open(csv_filename) as file:
        df1= pd.read_csv(file)

subs = df1.copy()

print('\n*******************')
print(subs.columns.tolist())
print('\n*******************\n info')
subs.info()
print('\n*******************\n describe')
print(subs.describe(include='all'))
print('\n*******************\n Mobile Subscribers')
print(subs.head())

Files in zip: ['mobile-cellular-subscriptions_1753728062739.csv']

*******************
['seriesID', 'seriesCode', 'seriesName', 'seriesParent', 'seriesUnits', 'entityID', 'entityIso', 'entityName', 'dataValue', 'dataYear', 'dataNote', 'dataSource', 'seriesDescription']

*******************
 info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10120 entries, 0 to 10119
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seriesID           10120 non-null  int64
 1   seriesCode         10120 non-null  object
 2   seriesName         10120 non-null  object
 3   seriesParent       0 non-null      float64
 4   seriesUnits        10120 non-null  object
 5   entityID           10120 non-null  int64
 6   entityIso          10120 non-null  object
 7   entityName         10120 non-null  object
 8   dataValue          10120 non-null  float64
 9   dataYear           10120 non-null  int64
 10  dataNote           957 non-null    object
 11  dataSource         4608 non-null   object
 12  seriesDescription  10120 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 1.0+ MB

*******************
 describe
            seriesID seriesCode                     seriesName  seriesParent  \
count   10120.000000      10120                          10120           0.0
unique           NaN          2                              1           NaN
top              NaN       i271  Mobile-cellular subscriptions           NaN
freq             NaN       5066                          10120           NaN
mean      284.873123        NaN                            NaN           NaN
std       107.005212        NaN                            NaN           NaN
min       178.000000        NaN                            NaN           NaN
25%       178.000000        NaN                            NaN           NaN
50%       178.000000        NaN                            NaN           NaN
75%       392.000000        NaN                            NaN           NaN
max       392.000000        NaN                            NaN           NaN

       seriesUnits      entityID entityIso   entityName     dataValue  \
count        10120  10120.000000     10120        10120  1.012000e+04
unique           1           NaN       232          232           NaN
top          count           NaN       AFG  Afghanistan           NaN
freq         10120           NaN        48           48           NaN
mean           NaN    144.417984       NaN          NaN  1.249121e+07
std            NaN     84.220848       NaN          NaN  7.448533e+07
min            NaN      4.000000       NaN          NaN  0.000000e+00
25%            NaN     71.000000       NaN          NaN  8.161910e+01
50%            NaN    139.000000       NaN          NaN  1.853715e+02
75%            NaN    215.000000       NaN          NaN  3.267598e+06
max            NaN    330.000000       NaN          NaN  1.824420e+09

            dataYear                       dataNote     dataSource  \
count   10120.000000                            957           4608
unique           NaN                            516            905
top              NaN  Incl. inactive subscriptions.  ITU estimate.
freq             NaN                             13            454
mean     2011.287945                            NaN            NaN
std         6.905994                            NaN            NaN
min      2000.000000                            NaN            NaN
25%      2005.000000                            NaN            NaN
50%      2011.000000                            NaN            NaN
75%      2017.000000                            NaN            NaN
max      2023.000000                            NaN            NaN

                                        seriesDescription
count                                               10120
unique                                                  1
top     Refers to the number of subscriptions to a pub...
freq                                                10120
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

*******************
 Mobile Subscribers
   seriesID seriesCode                     seriesName  seriesParent  \
0       178       i271  Mobile-cellular subscriptions           NaN
1       178       i271  Mobile-cellular subscriptions           NaN
2       178       i271  Mobile-cellular subscriptions           NaN
3       178       i271  Mobile-cellular subscriptions           NaN
4       178       i271  Mobile-cellular subscriptions           NaN

  seriesUnits  entityID entityIso entityName  dataValue  dataYear dataNote  \
0       count         4       ABW      Aruba    15000.0      2000      NaN
1       count         4       ABW      Aruba    53000.0      2001      NaN
2       count         4       ABW      Aruba    61800.0      2002      NaN
3       count         4       ABW      Aruba    69952.0      2003      NaN
4       count         4       ABW      Aruba    98389.0      2004      NaN

  dataSource                                  seriesDescription
0        NaN  Refers to the number of subscriptions to a pub...
1        NaN  Refers to the number of subscriptions to a pub...
2        NaN  Refers to the number of subscriptions to a pub...
3        NaN  Refers to the number of subscriptions to a pub...
4        NaN  Refers to the number of subscriptions to a pub...

In [49]:
# File rearranging 
columns_to_drop = ['seriesParent', 'seriesUnits', 'entityID', 'entityIso', 'dataNote', 'dataSource']  # Drop unwanted columns
subs.drop(columns=columns_to_drop, inplace=True)

subs.rename(columns={'seriesDescription': 'Mobile Descr',
                     'dataValue' : 'Subscribers'}, inplace=True)   # Rename column

pivot_subs = subs.pivot_table(index='entityName', columns='dataYear', values='Subscribers', aggfunc='first')
print(pivot_subs.head())

dataYear           2000      2001      2002       2003       2004        2005  \
entityName
Afghanistan         0.0       0.0   25000.0   200000.0   600000.0   1200000.0
Albania         29791.0  392650.0  851000.0  1100000.0  1259590.0   1530240.0
Algeria         86000.0  100000.0  450244.0  1446930.0  4882410.0  13661400.0
American Samoa   1992.0    2156.0    2036.0     2100.0     2250.0         NaN
Andorra         23543.0   29429.0   32790.0    51893.0    58366.0     64560.0

dataYear              2006        2007        2008        2009  ...  \
entityName                                                      ...
Afghanistan      2520370.0   4668100.0   7898910.0  10500000.0  ...
Albania          1909890.0   2322440.0   1859630.0   2463740.0  ...
Algeria         20998000.0  27562700.0  27031500.0  32729800.0  ...
American Samoa         NaN         NaN         NaN         NaN  ...
Andorra            69004.0     63503.0     64202.0     64549.0  ...

dataYear              2014        2015        2016        2017        2018  \
entityName
Afghanistan     18407200.0  19709000.0  21603000.0  23929700.0  21976400.0
Albania          3359650.0   3400960.0   3369760.0   3625700.0   2714880.0
Algeria         43298200.0  43227600.0  47041300.0  45845700.0  47154300.0
American Samoa         NaN         NaN         NaN         NaN         NaN
Andorra            66241.0     71336.0     76132.0     80337.0     82614.0

dataYear              2019        2020        2021        2022        2023
entityName
Afghanistan     22580100.0  22678000.0  22678000.0  22831900.0  23027100.0
Albania          2630080.0   2618880.0   2635470.0   2782230.0   2614760.0
Algeria         45425500.0  45555700.0  47015800.0  49018800.0  51522100.0
American Samoa         NaN         NaN         NaN         NaN         NaN
Andorra            87909.0     80380.0     93792.0    113521.0    126214.0

[5 rows x 24 columns]

In [50]:
zip_path = r"E:\Backup\IT Works Cyberpro Data Analyst\Final Python Project\mobile-cellular-low-usage-basket_1753728330158.csv.zip"
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    print("Files in zip:", zip_ref.namelist())   # List all files in the zip
    
    csv_filename = zip_ref.namelist()[0]  # Extract CSV file name assuming there's only one CSV in the zip
    
    with zip_ref.open(csv_filename) as file:
        df2= pd.read_csv(file)

arpu = df2.copy()

print('\n*******************')
print(arpu.columns.tolist())
print('\n*******************\n info')
subs.info()
print('\n*******************\n describe')
print(arpu.describe(include='all'))
print('\n*******************\n ARPU by Countries')
print(arpu.head())

Files in zip: ['mobile-cellular-low-usage-basket_1753728330158.csv']

*******************
['seriesID', 'seriesCode', 'seriesName', 'seriesParent', 'seriesUnits', 'entityID', 'entityIso', 'entityName', 'dataValue', 'dataYear', 'dataNote', 'dataSource', 'seriesDescription']

*******************
 info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10120 entries, 0 to 10119
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   seriesID      10120 non-null  int64
 1   seriesCode    10120 non-null  object
 2   seriesName    10120 non-null  object
 3   entityName    10120 non-null  object
 4   Subscribers   10120 non-null  float64
 5   dataYear      10120 non-null  int64
 6   Mobile Descr  10120 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 553.6+ KB

*******************
 describe
            seriesID       seriesCode                        seriesName  \
count    8952.000000             8952                              8952
unique           NaN                3                                 1
top              NaN  i154_MobLow_ts$  Mobile cellular low usage basket
freq             NaN             3123                              8952
mean    34614.948280              NaN                               NaN
std         5.419061              NaN                               NaN
min     34609.000000              NaN                               NaN
25%     34609.000000              NaN                               NaN
50%     34614.000000              NaN                               NaN
75%     34622.000000              NaN                               NaN
max     34622.000000              NaN                               NaN

        seriesParent       seriesUnits     entityID entityIso    entityName  \
count            0.0              8952  8952.000000      8952          8952
unique           NaN                 1          NaN       225           225
top              NaN  % GNI per capita          NaN       ZAF  South Africa
freq             NaN              8952          NaN        51            51
mean             NaN               NaN   140.689343       NaN           NaN
std              NaN               NaN    82.072846       NaN           NaN
min              NaN               NaN     4.000000       NaN           NaN
25%              NaN               NaN    70.000000       NaN           NaN
50%              NaN               NaN   137.000000       NaN           NaN
75%              NaN               NaN   210.000000       NaN           NaN
max              NaN               NaN   330.000000       NaN           NaN

          dataValue     dataYear             dataNote    dataSource  \
count   8952.000000  8952.000000                   85          1892
unique          NaN          NaN                    5           329
top             NaN          NaN  GNI data year: 2022  ITU Research
freq            NaN          NaN                   29           666
mean      12.953546  2016.679848                  NaN           NaN
std       12.941955     4.826940                  NaN           NaN
min        0.000000  2008.000000                  NaN           NaN
25%        2.891433  2013.000000                  NaN           NaN
50%        9.393105  2017.000000                  NaN           NaN
75%       19.302500  2021.000000                  NaN           NaN
max      215.748000  2024.000000                  NaN           NaN

                                        seriesDescription
count                                                8952
unique                                                  1
top     Mobile cellular low usage basket. Combined tim...
freq                                                 8952
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

*******************
 ARPU by Countries
   seriesID       seriesCode                        seriesName  seriesParent  \
0     34609  i154_MobLow_ts$  Mobile cellular low usage basket           NaN
1     34609  i154_MobLow_ts$  Mobile cellular low usage basket           NaN
2     34609  i154_MobLow_ts$  Mobile cellular low usage basket           NaN
3     34609  i154_MobLow_ts$  Mobile cellular low usage basket           NaN
4     34609  i154_MobLow_ts$  Mobile cellular low usage basket           NaN

        seriesUnits  entityID entityIso entityName  dataValue  dataYear  \
0  % GNI per capita         4       ABW      Aruba    27.6035      2013
1  % GNI per capita         4       ABW      Aruba    27.9000      2016
2  % GNI per capita         4       ABW      Aruba    24.9100      2018
3  % GNI per capita         4       ABW      Aruba    26.5000      2019
4  % GNI per capita         4       ABW      Aruba    26.5000      2020

  dataNote dataSource                                  seriesDescription
0      NaN        NaN  Mobile cellular low usage basket. Combined tim...
1      NaN        NaN  Mobile cellular low usage basket. Combined tim...
2      NaN        NaN  Mobile cellular low usage basket. Combined tim...
3      NaN        NaN  Mobile cellular low usage basket. Combined tim...
4      NaN        NaN  Mobile cellular low usage basket. Combined tim...

In [51]:
# File rearranging 
columns_to_drop = ['seriesParent', 'seriesUnits', 'entityID', 'entityIso', 'dataNote', 'dataSource']  # Drop unwanted columns
arpu.drop(columns=columns_to_drop, inplace=True)

arpu.rename(columns={'seriesDescription': 'ARPU Descr',
                     'dataValue' : 'ARPU'}, inplace=True)   # Rename column

pivot_arpu = arpu.pivot_table(index='entityName', columns='dataYear', values='ARPU', aggfunc='first')
print(pivot_arpu.head())

dataYear         2008   2009   2010   2011   2012     2013  2014  2015  2016  \
entityName
Afghanistan       NaN    NaN    NaN    NaN    NaN   5.8869   5.7   5.4   4.8
Albania         32.13  26.82  31.73  25.81  25.76  31.7279  30.1   6.4   6.4
Algeria         11.75  12.48  12.97  13.84  13.84  12.9747  12.8  10.2  10.1
American Samoa    NaN    NaN    NaN    NaN    NaN      NaN   NaN   NaN   NaN
Andorra           NaN    NaN    NaN    NaN    NaN  37.7722  37.7  31.0  30.9

dataYear            2017   2018   2019   2020      2021      2022   2023  \
entityName
Afghanistan      4.79237   3.23   3.23   3.04   3.14521   2.76789   1.98
Albania          6.71706   7.41   7.41   7.29   5.88120   5.31161   9.88
Algeria          8.15450   5.64   5.64   5.12   4.92299   4.53298   4.84
American Samoa       NaN    NaN    NaN    NaN       NaN   0.00000  42.00
Andorra         31.48530  18.52  18.52  17.78  19.29350  17.03440  17.42

dataYear         2024
entityName
Afghanistan      2.65
Albania          9.61
Algeria          4.89
American Samoa  17.50
Andorra         11.54

In [52]:
zip_path = r"E:\Backup\IT Works Cyberpro Data Analyst\Final Python Project\total-population_1753731141449.csv.zip"
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    print("Files in zip:", zip_ref.namelist())   # List all files in the zip
    
    csv_filename = zip_ref.namelist()[0]  # Extract CSV file name assuming there's only one CSV in the zip
    
    with zip_ref.open(csv_filename) as file:
        df3= pd.read_csv(file)

popln = df3.copy()

print('\n*******************')
print(popln.columns.tolist())
print('\n*******************\n info')
popln.info()
print('\n*******************\n describe')
print(popln.describe(include='all'))
print('\n*******************\n Global Population by Countries')
print(popln.head())

Files in zip: ['total-population_1753731141449.csv']

*******************
['seriesID', 'seriesCode', 'seriesName', 'seriesParent', 'seriesUnits', 'entityID', 'entityIso', 'entityName', 'dataValue', 'dataYear', 'dataNote', 'dataSource', 'seriesDescription']

*******************
 info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5820 entries, 0 to 5819
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seriesID           5820 non-null   int64
 1   seriesCode         5820 non-null   object
 2   seriesName         5820 non-null   object
 3   seriesParent       0 non-null      float64
 4   seriesUnits        0 non-null      float64
 5   entityID           5820 non-null   int64
 6   entityIso          5820 non-null   object
 7   entityName         5820 non-null   object
 8   dataValue          5820 non-null   float64
 9   dataYear           5820 non-null   int64
 10  dataNote           105 non-null    object
 11  dataSource         5820 non-null   object
 12  seriesDescription  5820 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 591.2+ KB

*******************
 describe
        seriesID seriesCode        seriesName  seriesParent  seriesUnits  \
count     5820.0       5820              5820           0.0          0.0
unique       NaN          1                 1           NaN          NaN
top          NaN        i61  Total population           NaN          NaN
freq         NaN       5820              5820           NaN          NaN
mean       260.0        NaN               NaN           NaN          NaN
std          0.0        NaN               NaN           NaN          NaN
min        260.0        NaN               NaN           NaN          NaN
25%        260.0        NaN               NaN           NaN          NaN
50%        260.0        NaN               NaN           NaN          NaN
75%        260.0        NaN               NaN           NaN          NaN
max        260.0        NaN               NaN           NaN          NaN

           entityID entityIso entityName     dataValue     dataYear  \
count   5820.000000      5820       5820  5.820000e+03  5820.000000
unique          NaN       235        235           NaN          NaN
top             NaN       ABW      Aruba           NaN          NaN
freq            NaN        25         25           NaN          NaN
mean     151.110309       NaN        NaN  3.088208e+07  2011.973024
std       87.499757       NaN        NaN  1.269121e+08     7.208609
min        4.000000       NaN        NaN  4.960000e+02  2000.000000
25%       74.000000       NaN        NaN  4.073502e+05  2006.000000
50%      147.000000       NaN        NaN  5.155920e+06  2012.000000
75%      223.250000       NaN        NaN  1.963702e+07  2018.000000
max      330.000000       NaN        NaN  1.450940e+09  2024.000000

                                                 dataNote  \
count                                                 105
unique                                                 15
top     Data available only for the government-control...
freq                                                   24
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                               dataSource seriesDescription
count                                                5820              5820
unique                                                  9                 1
top     UN Population Division World Population Prospe...  Total population
freq                                                 5700              5820
mean                                                  NaN               NaN
std                                                   NaN               NaN
min                                                   NaN               NaN
25%                                                   NaN               NaN
50%                                                   NaN               NaN
75%                                                   NaN               NaN
max                                                   NaN               NaN

*******************
 Global Population by Countries
   seriesID seriesCode        seriesName  seriesParent  seriesUnits  entityID  \
0       260        i61  Total population           NaN          NaN         4
1       260        i61  Total population           NaN          NaN         4
2       260        i61  Total population           NaN          NaN         4
3       260        i61  Total population           NaN          NaN         4
4       260        i61  Total population           NaN          NaN         4

  entityIso entityName  dataValue  dataYear dataNote  \
0       ABW      Aruba    88761.0      2000      NaN
1       ABW      Aruba    90305.0      2001      NaN
2       ABW      Aruba    91379.0      2002      NaN
3       ABW      Aruba    92310.0      2003      NaN
4       ABW      Aruba    93213.0      2004      NaN

                                          dataSource seriesDescription
0  UN Population Division World Population Prospe...  Total population
1  UN Population Division World Population Prospe...  Total population
2  UN Population Division World Population Prospe...  Total population
3  UN Population Division World Population Prospe...  Total population
4  UN Population Division World Population Prospe...  Total population

In [53]:
# File rearranging 
columns_to_drop = ['seriesParent', 'seriesUnits', 'entityID', 'entityIso', 'dataNote', 'dataSource']  # Drop unwanted columns
popln.drop(columns=columns_to_drop, inplace=True)

popln.rename(columns={'seriesDescription': 'Population Descr',
                     'dataValue' : 'Population'}, inplace=True)   # Rename column

pivot_popln = popln.pivot_table(index='entityName', columns='dataYear', values='Population', aggfunc='first')
print(pivot_popln.head())

dataYear              2000        2001        2002        2003        2004  \
entityName
Afghanistan     20130300.0  20284300.0  21378100.0  22733000.0  23560700.0
Albania          3166150.0   3147940.0   3134090.0   3118090.0   3098660.0
Algeria         30903900.0  31331200.0  31750800.0  32175800.0  32628300.0
American Samoa     56855.0     57053.0     57062.0     56971.0     56818.0
Andorra            65685.0     65852.0     66506.0     69486.0     74325.0

dataYear              2005        2006        2007        2008        2009  \
entityName
Afghanistan     24404600.0  25424100.0  25909900.0  26482600.0  27466100.0
Albania          3076160.0   3050810.0   3022890.0   2992930.0   2961480.0
Algeria         33109200.0  33623500.0  34189400.0  34817000.0  35490400.0
American Samoa     56617.0     56374.0     56113.0     55828.0     55528.0
Andorra            77421.0     79585.0     81877.0     83495.0     83888.0

dataYear        ...        2015        2016        2017        2018  \
entityName      ...
Afghanistan     ...  33831800.0  34700600.0  35688900.0  36743000.0
Albania         ...   2898630.0   2897870.0   2898240.0   2894230.0
Algeria         ...  40019500.0  40850700.0  41689300.0  42505000.0
American Samoa  ...     52878.0     52245.0     51586.0     50908.0
Andorra         ...     72174.0     72181.0     73763.0     75162.0

dataYear              2019        2020        2021        2022        2023  \
entityName
Afghanistan     37856100.0  39069000.0  40000400.0  40578800.0  41454800.0
Albania          2885010.0   2871950.0   2849640.0   2827610.0   2811660.0
Algeria         43294500.0  44042100.0  44761100.0  45477400.0  46164200.0
American Samoa     50209.0     49761.0     49225.0     48342.0     47521.0
Andorra            76474.0     77380.0     78364.0     79705.0     80856.0

dataYear              2024
entityName
Afghanistan     42647500.0
Albania          2791770.0
Algeria         46814300.0
American Samoa     46765.0
Andorra            81938.0

[5 rows x 25 columns]

In [54]:
print(os.getcwd())

e:\Backup\IT Works Cyberpro Data Analyst\Final Python Project

In [55]:
idifile = pd.read_excel("E:\Backup\IT Works Cyberpro Data Analyst\Final Python Project\IDIDataset.xlsx", skiprows=2)

print('\n*******************')
print(idifile.columns.tolist())
print('\n*******************\n info')
idifile.info()
print('\n*******************\n describe')
print(idifile.describe(include='all'))
print('\n*******************\n ITU Connectivity Index')
print(idifile.head())

*******************
['Iso3', 'ITU-D \nRegion', 'World Bank Income group (2024 July)', 'Economy', 'Individuals using the Internet (%)', 'Unnamed: 5', 'Households with Internet access at home (%)', 'Unnamed: 7', 'Active mobile-broadband subscriptions per 100 inhabitants', 'Unnamed: 9', 'Population covered by at least a 3G mobile network (%)', 'Unnamed: 11', 'Population covered by at least a 4G/LTE mobile network (%)', 'Unnamed: 13', 'Mobile broadband Internet traffic per subscription (GB)', 'Unnamed: 15', 'Fixed broadband Internet traffic per subscription (GB)', 'Unnamed: 17', 'Mobile data and voice high-consumption basket price (as % of GNI per capita)', 'Unnamed: 19', 'Fixed-broadband Internet basket price (as % of GNI per capita) ', 'Unnamed: 21', 'Individuals who own a mobile phone (%)', 'Unnamed: 23', 'Unnamed: 24', 'Individuals using the Internet (%).1', 'Households with Internet access at home (%).1', 'Mobile-broadband subscriptions per 100 inhabitants', '3G and 4G/LTE Network Coverage', 'Mobile broadband Internet traffic per subscription (GB).1', 'Fixed broadband Internet traffic per subscription (GB).1', 'Mobile data and voice high-consumption basket price (as % of GNI per capita).1', 'Fixed-broadband Internet basket price (as % of GNI per capita) .1', 'Individuals who own a mobile phone (%).1', 'Unnamed: 34', 'Universal Connectivity Pillar', 'Meaningful Connectivity Pillar', 'ICT Development Index (IDI)']

*******************
 info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 38 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Iso3                                                                            164 non-null    object
 1   ITU-D
Region                                                                   164 non-null    object
 2   World Bank Income group (2024 July)                                             164 non-null    object
 3   Economy                                                                         164 non-null    object
 4   Individuals using the Internet (%)                                              169 non-null    object
 5   Unnamed: 5                                                                      165 non-null    object
 6   Households with Internet access at home (%)                                     165 non-null    object
 7   Unnamed: 7                                                                      165 non-null    object
 8   Active mobile-broadband subscriptions per 100 inhabitants                       165 non-null    object
 9   Unnamed: 9                                                                      165 non-null    object
 10  Population covered by at least a 3G mobile network (%)                          165 non-null    object
 11  Unnamed: 11                                                                     165 non-null    object
 12  Population covered by at least a 4G/LTE mobile network (%)                      165 non-null    object
 13  Unnamed: 13                                                                     165 non-null    object
 14  Mobile broadband Internet traffic per subscription (GB)                         165 non-null    object
 15  Unnamed: 15                                                                     165 non-null    object
 16  Fixed broadband Internet traffic per subscription (GB)                          165 non-null    object
 17  Unnamed: 17                                                                     165 non-null    object
 18  Mobile data and voice high-consumption basket price (as % of GNI per capita)    165 non-null    object
 19  Unnamed: 19                                                                     165 non-null    object
 20  Fixed-broadband Internet basket price (as % of GNI per capita)                  165 non-null    object
 21  Unnamed: 21                                                                     165 non-null    object
 22  Individuals who own a mobile phone (%)                                          165 non-null    object
 23  Unnamed: 23                                                                     165 non-null    object
 24  Unnamed: 24                                                                     0 non-null      float64
 25  Individuals using the Internet (%).1                                            165 non-null    object
 26  Households with Internet access at home (%).1                                   165 non-null    object
 27  Mobile-broadband subscriptions per 100 inhabitants                              165 non-null    object
 28  3G and 4G/LTE Network Coverage                                                  165 non-null    object
 29  Mobile broadband Internet traffic per subscription (GB).1                       165 non-null    object
 30  Fixed broadband Internet traffic per subscription (GB).1                        165 non-null    object
 31  Mobile data and voice high-consumption basket price (as % of GNI per capita).1  165 non-null    object
 32  Fixed-broadband Internet basket price (as % of GNI per capita) .1               165 non-null    object
 33  Individuals who own a mobile phone (%).1                                        165 non-null    object
 34  Unnamed: 34                                                                     0 non-null      float64
 35  Universal Connectivity Pillar                                                   165 non-null    object
 36  Meaningful Connectivity Pillar                                                  165 non-null    object
 37  ICT Development Index (IDI)                                                     165 non-null    object
dtypes: float64(2), object(36)
memory usage: 50.3+ KB

*******************
 describe
       Iso3 ITU-D \nRegion World Bank Income group (2024 July)      Economy  \
count   164            164                                 164          164
unique  164              6                                   5          164
top     AFG         Europe                         High-income  Afghanistan
freq      1             45                                  61            1
mean    NaN            NaN                                 NaN          NaN
std     NaN            NaN                                 NaN          NaN
min     NaN            NaN                                 NaN          NaN
25%     NaN            NaN                                 NaN          NaN
50%     NaN            NaN                                 NaN          NaN
75%     NaN            NaN                                 NaN          NaN
max     NaN            NaN                                 NaN          NaN

       Individuals using the Internet (%)     Unnamed: 5  \
count                                 169            165
unique                                150             85
top                                  n.a.  ITU estimate.
freq                                    4             74
mean                                  NaN            NaN
std                                   NaN            NaN
min                                   NaN            NaN
25%                                   NaN            NaN
50%                                   NaN            NaN
75%                                   NaN            NaN
max                                   NaN            NaN

       Households with Internet access at home (%)     Unnamed: 7  \
count                                          165            165
unique                                         145             89
top                                           n.a.  ITU estimate.
freq                                             8             65
mean                                           NaN            NaN
std                                            NaN            NaN
min                                            NaN            NaN
25%                                            NaN            NaN
50%                                            NaN            NaN
75%                                            NaN            NaN
max                                            NaN            NaN

       Active mobile-broadband subscriptions per 100 inhabitants  \
count                                                 165
unique                                                159
top                                                  96.8
freq                                                    2
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                               Unnamed: 9  ...  \
count                                                 165  ...
unique                                                162  ...
top     National Telecommunications Regulatory Commiss...  ...
freq                                                    3  ...
mean                                                  NaN  ...
std                                                   NaN  ...
min                                                   NaN  ...
25%                                                   NaN  ...
50%                                                   NaN  ...
75%                                                   NaN  ...
max                                                   NaN  ...

       3G and 4G/LTE Network Coverage  \
count                           165.0
unique                          116.0
top                             100.0
freq                             21.0
mean                              NaN
std                               NaN
min                               NaN
25%                               NaN
50%                               NaN
75%                               NaN
max                               NaN

       Mobile broadband Internet traffic per subscription (GB).1  \
count                                                 165
unique                                                144
top                                                  n.p.
freq                                                   15
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

       Fixed broadband Internet traffic per subscription (GB).1  \
count                                                 165
unique                                                125
top                                                  n.p.
freq                                                   40
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

       Mobile data and voice high-consumption basket price (as % of GNI per capita).1  \
count                                               165.0
unique                                               93.0
top                                                 100.0
freq                                                 64.0
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

       Fixed-broadband Internet basket price (as % of GNI per capita) .1  \
count                                               165.0
unique                                              110.0
top                                                 100.0
freq                                                 40.0
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

       Individuals who own a mobile phone (%).1 Unnamed: 34  \
count                                     165.0         0.0
unique                                    114.0         NaN
top                                       100.0         NaN
freq                                       45.0         NaN
mean                                        NaN         NaN
std                                         NaN         NaN
min                                         NaN         NaN
25%                                         NaN         NaN
50%                                         NaN         NaN
75%                                         NaN         NaN
max                                         NaN         NaN

       Universal Connectivity Pillar Meaningful Connectivity Pillar  \
count                          165.0                          165.0
unique                         143.0                          129.0
top                             92.6                           92.8
freq                             4.0                            4.0
mean                             NaN                            NaN
std                              NaN                            NaN
min                              NaN                            NaN
25%                              NaN                            NaN
50%                              NaN                            NaN
75%                              NaN                            NaN
max                              NaN                            NaN

       ICT Development Index (IDI)
count                        165.0
unique                       147.0
top                           85.9
freq                           2.0
mean                           NaN
std                            NaN
min                            NaN
25%                            NaN
50%                            NaN
75%                            NaN
max                            NaN

[11 rows x 38 columns]

*******************
 ITU Connectivity Index
  Iso3 ITU-D \nRegion World Bank Income group (2024 July)      Economy  \
0  NaN            NaN                                 NaN          NaN
1  AFG   Asia-Pacific                          Low-income  Afghanistan
2  ALB         Europe                 Upper-middle-income      Albania
3  DZA    Arab States                 Upper-middle-income      Algeria
4  AND         Europe                         High-income      Andorra

  Individuals using the Internet (%)               Unnamed: 5  \
0                              Value                   Source
1                              17.7†            ITU estimate.
2                               83.1  Institute of Statistics
3                              76.9†            ITU estimate.
4                              95.4†            ITU estimate.

  Households with Internet access at home (%)               Unnamed: 7  \
0                                       Value                   Source
1                                        27.7           MICS 2022-2023
2                                        96.7  Institute of Statistics
3                                       92.6†            ITU estimate.
4                                       96.4†            ITU estimate.

  Active mobile-broadband subscriptions per 100 inhabitants  \
0                                              Value
1                                               55.6
2                                               74.1
3                                              104.2
4                                              107.1

                                          Unnamed: 9  ...  \
0                                             Source  ...
1  Afghanistan Telecommunication Regulatory Autho...  ...
2  Ministry of Infrastructure and Energy and UN P...  ...
3  Ministère de la Poste et des Télécommunication...  ...
4  Andorra Telecom SAU and UN Population Division...  ...

  3G and 4G/LTE Network Coverage  \
0                          Score
1                           47.2
2                           99.6
3                          93.52
4                           98.9

  Mobile broadband Internet traffic per subscription (GB).1  \
0                                              Score
1                                              38.17
2                                              73.08
3                                              73.89
4                                              61.06

  Fixed broadband Internet traffic per subscription (GB).1  \
0                                              Score
1                                               n.p.
2                                               82.5
3                                              83.92
4                                              87.89

  Mobile data and voice high-consumption basket price (as % of GNI per capita).1  \
0                                              Score
1                                              26.86
2                                              94.74
3                                              94.98
4                                                100

  Fixed-broadband Internet basket price (as % of GNI per capita) .1  \
0                                              Score
1                                              43.19
2                                              96.69
3                                               93.1
4                                                100

  Individuals who own a mobile phone (%).1 Unnamed: 34  \
0                                    Score         NaN
1                                     n.p.         NaN
2                                    90.93         NaN
3                                    97.87         NaN
4                                    98.71         NaN

  Universal Connectivity Pillar Meaningful Connectivity Pillar  \
0                         Score                          Score
1                          28.3                           44.7
2                            79                           89.6
3                          82.6                           89.5
4                          90.5                           91.1

  ICT Development Index (IDI)
0                       Score
1                        36.5
2                        84.3
3                        86.1
4                        90.8

[5 rows x 38 columns]

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\mikha\AppData\Local\Temp\ipykernel_41236\350762138.py:1: SyntaxWarning: invalid escape sequence '\B'
  idifile = pd.read_excel("E:\Backup\IT Works Cyberpro Data Analyst\Final Python Project\IDIDataset.xlsx", skiprows=2)

In [56]:
# Concatenating the pivoted dataframes into one 
# Step 1: Ensure column names are strings (years)
pivot_subs.columns = pivot_subs.columns.astype(str)
pivot_arpu.columns = pivot_arpu.columns.astype(str)
pivot_popln.columns = pivot_popln.columns.astype(str)

# Step 2: Reindex to full set of years across all dataframes
all_years = sorted(set(pivot_subs.columns) | set(pivot_arpu.columns) | set(pivot_popln.columns))

pivot_subs = pivot_subs.reindex(columns=all_years)
pivot_arpu = pivot_arpu.reindex(columns=all_years)
pivot_popln = pivot_popln.reindex(columns=all_years)

# Step 3: Add metric name as new row index level
pivot_subs.index = pd.MultiIndex.from_product([['Subscribers'], pivot_subs.index])
pivot_arpu.index = pd.MultiIndex.from_product([['ARPU'], pivot_arpu.index])
pivot_popln.index = pd.MultiIndex.from_product([['Population'], pivot_popln.index])

# Step 4: Concatenate the dataframes along the rows
combined_df = pd.concat([pivot_subs, pivot_arpu, pivot_popln])

# Step 5 (optional): Sort by index for better readability
combined_df = combined_df.sort_index()

combined_df = combined_df.fillna(0) # replace empty cells with zeros 

# Show result
print(combined_df.head(20))

dataYear                  2000  2001  2002  2003  2004  2005  2006  2007  \
     entityName
ARPU Afghanistan           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Albania               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Algeria               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     American Samoa        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Andorra               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Angola                0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Anguilla              0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Antigua and Barbuda   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Argentina             0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Armenia               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Aruba                 0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Australia             0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Austria               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Azerbaijan            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Bahamas               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Bahrain               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Bangladesh            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Barbados              0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Belarus               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     Belgium               0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

dataYear                   2008   2009  ...  2015  2016      2017   2018  \
     entityName                         ...
ARPU Afghanistan           0.00   0.00  ...   5.4   4.8   4.79237   3.23
     Albania              32.13  26.82  ...   6.4   6.4   6.71706   7.41
     Algeria              11.75  12.48  ...  10.2  10.1   8.15450   5.64
     American Samoa        0.00   0.00  ...   0.0   0.0   0.00000   0.00
     Andorra               0.00   0.00  ...  31.0  30.9  31.48530  18.52
     Angola               17.65  20.16  ...  15.4  11.2  16.17730   9.75
     Anguilla              0.00   0.00  ...   0.0  23.4   0.00000  21.23
     Antigua and Barbuda   0.00   0.00  ...  23.4  30.1  30.12220  26.33
     Argentina             0.00   0.00  ...  30.8  21.1  21.67580  34.28
     Armenia              14.63  11.85  ...   7.0   3.1   3.04371   2.68
     Aruba                 0.00   0.00  ...   0.0  27.9   0.00000  24.91
     Australia            42.56  56.05  ...  14.7  14.6  22.99280  36.61
     Austria              30.58  14.67  ...   6.7   6.5   6.62612   4.15
     Azerbaijan            6.93   7.08  ...   8.0   4.7   3.20134   3.09
     Bahamas               0.00   0.00  ...  17.5  18.8  18.79000  19.94
     Bahrain              14.02  15.66  ...  11.1  10.7  10.00000   4.39
     Bangladesh            2.99   2.95  ...   1.5   1.8   1.70716   1.48
     Barbados             20.09  19.77  ...  28.1  28.1  34.14500  26.61
     Belarus               9.31   7.12  ...   4.3   3.6   4.05725   3.85
     Belgium              39.18  37.16  ...  28.5  30.2  30.71900  11.81

dataYear                   2019   2020      2021      2022   2023   2024
     entityName
ARPU Afghanistan           3.23   3.04   3.14521   2.76789   1.98   2.65
     Albania               7.41   7.29   5.88120   5.31161   9.88   9.61
     Algeria               5.64   5.12   4.92299   4.53298   4.84   4.89
     American Samoa        0.00   0.00   0.00000   0.00000  42.00  17.50
     Andorra              18.52  17.78  19.29350  17.03440  17.42  11.54
     Angola                9.75   4.49   3.08020   4.75146   2.12   1.36
     Anguilla             21.23  27.02  27.01850  27.01850  27.02  27.02
     Antigua and Barbuda  26.33  26.33  26.33330  26.33330  26.33  26.33
     Argentina            40.36  20.21  10.84980   3.39410  15.09   4.84
     Armenia               2.68   3.71   3.46140   3.99934   5.17   5.14
     Aruba                26.50  26.50  26.50280  26.50280  26.81  26.81
     Australia            36.61  34.21  23.10700  21.46820  20.05  23.07
     Austria               4.25   3.98   4.23251   3.73693   4.80   4.75
     Azerbaijan            3.33   3.33   4.34706   2.50588   2.51   3.06
     Bahamas              20.02  19.94  19.94000  22.40000  22.40  22.40
     Bahrain               4.68   4.68  20.47870  19.94680  21.44  24.10
     Bangladesh            1.55   1.65   1.71275   1.73119   1.09   1.09
     Barbados             26.61  26.61  47.50000  50.00000  50.00  52.50
     Belarus               4.16   3.60   3.36727   3.52530   3.74   3.90
     Belgium              11.81  11.34  12.05840  10.64650  11.98  12.92

[20 rows x 25 columns]

In [57]:
# Step 1: Drop duplicates in idifile to ensure unique 'Economy' values
idifile_unique = idifile.drop_duplicates(subset='Economy')

# Step 2: Set 'Economy' as index
idifile_indexed = idifile_unique.set_index('Economy')

# Step 3: Rename combined_df index levels for clarity
combined_df.index.set_names(['Indicator', 'entityName'], inplace=True)

# Step 4: Reset index to access 'entityName' as a column
combined_df_reset = combined_df.reset_index()

# Step 5: Strip whitespace and standardize names to lowercase for better matching
combined_df_reset['entityName_clean'] = combined_df_reset['entityName'].str.strip().str.lower()
idifile_indexed.index = idifile_indexed.index.str.strip().str.lower()

# Step 6: Map the values
combined_df_reset['ITU Region'] = combined_df_reset['entityName_clean'].map(idifile_indexed['ITU-D \nRegion'])
combined_df_reset['World Bank Income group (2024 July)'] = combined_df_reset['entityName_clean'].map(
    idifile_indexed['World Bank Income group (2024 July)']
)

# Step 7: Drop helper column
combined_df_reset.drop(columns='entityName_clean', inplace=True)

# Step 8: Restore the multi-index
combined_df = combined_df_reset.set_index(['Indicator', 'entityName'])

# Step 9: Confirm addition
print("✅ Added columns:")
print(combined_df.columns)

✅ Added columns:
Index(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024', 'ITU Region',
       'World Bank Income group (2024 July)'],
      dtype='object', name='dataYear')

In [58]:
# Ensure the two columns exist
if 'ITU Region' in combined_df.columns and 'World Bank Income group (2024 July)' in combined_df.columns:
    combined_df = combined_df.set_index(['ITU Region', 'World Bank Income group (2024 July)'], append=True)
    print("✅ Updated index levels:", combined_df.index.names)
else:
    print("❌ One or both columns are missing.")

✅ Updated index levels: ['Indicator', 'entityName', 'ITU Region', 'World Bank Income group (2024 July)']

In [59]:
combined_df.index.names

FrozenList(['Indicator', 'entityName', 'ITU Region', 'World Bank Income group (2024 July)'])

In [60]:
# Save combined_df to Excel
combined_df.to_excel("combined_df.xlsx")

print("combined_df has been saved as 'combined_df.xlsx'")

combined_df has been saved as 'combined_df.xlsx'

In [61]:
# Print entire list of MultiIndex entries
print(len(combined_df.index))
print("Unique MultiIndex (Metric, Country) pairs in combined_df:")
for idx in combined_df.index:
    print(idx)

692
Unique MultiIndex (Metric, Country) pairs in combined_df:
('ARPU', 'Afghanistan', 'Asia-Pacific', 'Low-income')
('ARPU', 'Albania', 'Europe', 'Upper-middle-income')
('ARPU', 'Algeria', 'Arab States', 'Upper-middle-income')
('ARPU', 'American Samoa', nan, nan)
('ARPU', 'Andorra', 'Europe', 'High-income')
('ARPU', 'Angola', 'Africa', 'Lower-middle-income')
('ARPU', 'Anguilla', nan, nan)
('ARPU', 'Antigua and Barbuda', nan, nan)
('ARPU', 'Argentina', 'Americas', 'Upper-middle-income')
('ARPU', 'Armenia', 'CIS', 'Upper-middle-income')
('ARPU', 'Aruba', nan, nan)
('ARPU', 'Australia', 'Asia-Pacific', 'High-income')
('ARPU', 'Austria', 'Europe', 'High-income')
('ARPU', 'Azerbaijan', 'CIS', 'Upper-middle-income')
('ARPU', 'Bahamas', 'Americas', 'High-income')
('ARPU', 'Bahrain', 'Arab States', 'High-income')
('ARPU', 'Bangladesh', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Barbados', 'Americas', 'High-income')
('ARPU', 'Belarus', 'CIS', 'Upper-middle-income')
('ARPU', 'Belgium', 'Europe', 'High-income')
('ARPU', 'Belize', nan, nan)
('ARPU', 'Benin', 'Africa', 'Lower-middle-income')
('ARPU', 'Bermuda', nan, nan)
('ARPU', 'Bhutan', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Bolivia (Plurinational State of)', nan, nan)
('ARPU', 'Bosnia and Herzegovina', 'Europe', 'Upper-middle-income')
('ARPU', 'Botswana', 'Africa', 'Upper-middle-income')
('ARPU', 'Brazil', 'Americas', 'Upper-middle-income')
('ARPU', 'British Virgin Islands', nan, nan)
('ARPU', 'Brunei Darussalam', 'Asia-Pacific', 'High-income')
('ARPU', 'Bulgaria', 'Europe', 'High-income')
('ARPU', 'Burkina Faso', nan, nan)
('ARPU', 'Burundi', 'Africa', 'Low-income')
('ARPU', 'Cabo Verde', 'Africa', 'Lower-middle-income')
('ARPU', 'Cambodia', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Cameroon', 'Africa', 'Lower-middle-income')
('ARPU', 'Canada', 'Americas', 'High-income')
('ARPU', 'Cayman Islands', nan, nan)
('ARPU', 'Central African Rep.', nan, nan)
('ARPU', 'Chad', nan, nan)
('ARPU', 'Chile', 'Americas', 'High-income')
('ARPU', 'China', 'Asia-Pacific', 'Upper-middle-income')
('ARPU', 'Cocos Keeling Islands', nan, nan)
('ARPU', 'Colombia', 'Americas', 'Upper-middle-income')
('ARPU', 'Comoros', 'Arab States', 'Lower-middle-income')
('ARPU', 'Congo (Rep. of the)', 'Africa', 'Lower-middle-income')
('ARPU', 'Cook Islands', nan, nan)
('ARPU', 'Costa Rica', 'Americas', 'Upper-middle-income')
('ARPU', 'Croatia', 'Europe', 'High-income')
('ARPU', 'Cuba', 'Americas', 'Upper-middle-income')
('ARPU', 'Curacao', nan, nan)
('ARPU', 'Cyprus', 'Europe', 'High-income')
('ARPU', 'Czech Republic', 'Europe', 'High-income')
('ARPU', "Côte d'Ivoire", 'Africa', 'Lower-middle-income')
('ARPU', "Dem. People's Rep. of Korea", nan, nan)
('ARPU', 'Dem. Rep. of the Congo', 'Africa', 'Low-income')
('ARPU', 'Denmark', 'Europe', 'High-income')
('ARPU', 'Djibouti', 'Arab States', 'Lower-middle-income')
('ARPU', 'Dominica', 'Americas', 'Upper-middle-income')
('ARPU', 'Dominican Rep.', nan, nan)
('ARPU', 'Ecuador', 'Americas', 'Upper-middle-income')
('ARPU', 'Egypt', 'Arab States', 'Lower-middle-income')
('ARPU', 'El Salvador', 'Americas', 'Upper-middle-income')
('ARPU', 'Equatorial Guinea', 'Africa', 'Upper-middle-income')
('ARPU', 'Eritrea', nan, nan)
('ARPU', 'Estonia', 'Europe', 'High-income')
('ARPU', 'Eswatini', 'Africa', 'Lower-middle-income')
('ARPU', 'Ethiopia', 'Africa', 'Low-income')
('ARPU', 'Falkland (Malvinas) Is.', nan, nan)
('ARPU', 'Faroe Islands', nan, nan)
('ARPU', 'Fiji', nan, nan)
('ARPU', 'Finland', 'Europe', 'High-income')
('ARPU', 'France', 'Europe', 'High-income')
('ARPU', 'French Guiana', nan, nan)
('ARPU', 'French Polynesia', nan, nan)
('ARPU', 'Gabon', 'Africa', 'Upper-middle-income')
('ARPU', 'Gambia', nan, nan)
('ARPU', 'Georgia', 'Europe', 'Upper-middle-income')
('ARPU', 'Germany', 'Europe', 'High-income')
('ARPU', 'Ghana', 'Africa', 'Lower-middle-income')
('ARPU', 'Gibraltar', nan, nan)
('ARPU', 'Greece', 'Europe', 'High-income')
('ARPU', 'Greenland', nan, nan)
('ARPU', 'Grenada', nan, nan)
('ARPU', 'Guam', nan, nan)
('ARPU', 'Guatemala', 'Americas', 'Upper-middle-income')
('ARPU', 'Guinea', nan, nan)
('ARPU', 'Guinea-Bissau', 'Africa', 'Low-income')
('ARPU', 'Guyana', nan, nan)
('ARPU', 'Haiti', nan, nan)
('ARPU', 'Honduras', 'Americas', 'Lower-middle-income')
('ARPU', 'Hong Kong, China', 'Asia-Pacific', 'High-income')
('ARPU', 'Hungary', 'Europe', 'High-income')
('ARPU', 'Iceland', 'Europe', 'High-income')
('ARPU', 'India', nan, nan)
('ARPU', 'Indonesia', 'Asia-Pacific', 'Upper-middle-income')
('ARPU', 'Iran (Islamic Republic of)', 'Asia-Pacific', 'Upper-middle-income')
('ARPU', 'Iraq', 'Arab States', 'Upper-middle-income')
('ARPU', 'Ireland', 'Europe', 'High-income')
('ARPU', 'Israel', 'Europe', 'High-income')
('ARPU', 'Italy', 'Europe', 'High-income')
('ARPU', 'Jamaica', 'Americas', 'Upper-middle-income')
('ARPU', 'Japan', 'Asia-Pacific', 'High-income')
('ARPU', 'Jordan', 'Arab States', 'Lower-middle-income')
('ARPU', 'Kazakhstan', 'CIS', 'Upper-middle-income')
('ARPU', 'Kenya', 'Africa', 'Lower-middle-income')
('ARPU', 'Kiribati', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Korea (Rep. of)', 'Asia-Pacific', 'High-income')
('ARPU', 'Kosovo', nan, nan)
('ARPU', 'Kuwait', 'Arab States', 'High-income')
('ARPU', 'Kyrgyzstan', 'CIS', 'Lower-middle-income')
('ARPU', 'Lao P.D.R.', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Latvia', 'Europe', 'High-income')
('ARPU', 'Lebanon', nan, nan)
('ARPU', 'Lesotho', 'Africa', 'Lower-middle-income')
('ARPU', 'Liberia', 'Africa', 'Low-income')
('ARPU', 'Libya', 'Arab States', 'Upper-middle-income')
('ARPU', 'Liechtenstein', 'Europe', 'High-income')
('ARPU', 'Lithuania', 'Europe', 'High-income')
('ARPU', 'Luxembourg', 'Europe', 'High-income')
('ARPU', 'Macao, China', 'Asia-Pacific', 'High-income')
('ARPU', 'Madagascar', 'Africa', 'Low-income')
('ARPU', 'Malawi', 'Africa', 'Low-income')
('ARPU', 'Malaysia', 'Asia-Pacific', 'Upper-middle-income')
('ARPU', 'Maldives', 'Asia-Pacific', 'Upper-middle-income')
('ARPU', 'Mali', 'Africa', 'Low-income')
('ARPU', 'Malta', 'Europe', 'High-income')
('ARPU', 'Marshall Islands', nan, nan)
('ARPU', 'Mauritania', 'Arab States', 'Lower-middle-income')
('ARPU', 'Mauritius', 'Africa', 'Upper-middle-income')
('ARPU', 'Mexico', 'Americas', 'Upper-middle-income')
('ARPU', 'Micronesia', nan, nan)
('ARPU', 'Moldova', 'Europe', 'Upper-middle-income')
('ARPU', 'Monaco', 'Europe', 'High-income')
('ARPU', 'Mongolia', 'Asia-Pacific', 'Upper-middle-income')
('ARPU', 'Montenegro', 'Europe', 'Upper-middle-income')
('ARPU', 'Montserrat', nan, nan)
('ARPU', 'Morocco', 'Arab States', 'Lower-middle-income')
('ARPU', 'Mozambique', 'Africa', 'Low-income')
('ARPU', 'Myanmar', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Namibia', 'Africa', 'Upper-middle-income')
('ARPU', 'Nauru', nan, nan)
('ARPU', 'Nepal (Republic of)', nan, nan)
('ARPU', 'Netherlands', 'Europe', 'High-income')
('ARPU', 'New Caledonia', nan, nan)
('ARPU', 'New Zealand', 'Asia-Pacific', 'High-income')
('ARPU', 'Nicaragua', 'Americas', 'Lower-middle-income')
('ARPU', 'Niger', nan, nan)
('ARPU', 'Nigeria', 'Africa', 'Lower-middle-income')
('ARPU', 'Niue', nan, nan)
('ARPU', 'North Macedonia', 'Europe', 'Upper-middle-income')
('ARPU', 'Northern Marianas', nan, nan)
('ARPU', 'Norway', 'Europe', 'High-income')
('ARPU', 'Oman', 'Arab States', 'High-income')
('ARPU', 'Pakistan', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Palau', nan, nan)
('ARPU', 'Panama', 'Americas', 'High-income')
('ARPU', 'Papua New Guinea', nan, nan)
('ARPU', 'Paraguay', 'Americas', 'Upper-middle-income')
('ARPU', 'Peru', 'Americas', 'Upper-middle-income')
('ARPU', 'Philippines', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Poland', 'Europe', 'High-income')
('ARPU', 'Portugal', 'Europe', 'High-income')
('ARPU', 'Puerto Rico', nan, nan)
('ARPU', 'Qatar', 'Arab States', 'High-income')
('ARPU', 'Romania', 'Europe', 'High-income')
('ARPU', 'Russian Federation', 'CIS', 'High-income')
('ARPU', 'Rwanda', 'Africa', 'Low-income')
('ARPU', 'Saint Kitts and Nevis', 'Americas', 'High-income')
('ARPU', 'Saint Lucia', 'Americas', 'Upper-middle-income')
('ARPU', 'Saint Vincent and the Grenadines', 'Americas', 'Upper-middle-income')
('ARPU', 'Samoa', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'San Marino', 'Europe', 'High-income')
('ARPU', 'Sao Tome and Principe', 'Africa', 'Lower-middle-income')
('ARPU', 'Saudi Arabia', 'Arab States', 'High-income')
('ARPU', 'Senegal', 'Africa', 'Lower-middle-income')
('ARPU', 'Serbia', 'Europe', 'Upper-middle-income')
('ARPU', 'Seychelles', 'Africa', 'High-income')
('ARPU', 'Sierra Leone', nan, nan)
('ARPU', 'Singapore', 'Asia-Pacific', 'High-income')
('ARPU', 'Slovakia', 'Europe', 'High-income')
('ARPU', 'Slovenia', 'Europe', 'High-income')
('ARPU', 'Solomon Islands', nan, nan)
('ARPU', 'Somalia', 'Arab States', 'Low-income')
('ARPU', 'South Africa', 'Africa', 'Upper-middle-income')
('ARPU', 'South Sudan', nan, nan)
('ARPU', 'Spain', 'Europe', 'High-income')
('ARPU', 'Sri Lanka', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'St. Helena', nan, nan)
('ARPU', 'St. Maarten', nan, nan)
('ARPU', 'State of Palestine', nan, nan)
('ARPU', 'Sudan', nan, nan)
('ARPU', 'Suriname', 'Americas', 'Upper-middle-income')
('ARPU', 'Sweden', 'Europe', 'High-income')
('ARPU', 'Switzerland', 'Europe', 'High-income')
('ARPU', 'Syrian Arab Republic', 'Arab States', 'Low-income')
('ARPU', 'Taiwan, Province of China', nan, nan)
('ARPU', 'Tajikistan', nan, nan)
('ARPU', 'Tanzania', 'Africa', 'Lower-middle-income')
('ARPU', 'Thailand', 'Asia-Pacific', 'Upper-middle-income')
('ARPU', 'Timor-Leste', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Togo', 'Africa', 'Low-income')
('ARPU', 'Tokelau', nan, nan)
('ARPU', 'Tonga', nan, nan)
('ARPU', 'Trinidad and Tobago', 'Americas', 'High-income')
('ARPU', 'Tunisia', 'Arab States', 'Lower-middle-income')
('ARPU', 'Turkmenistan', nan, nan)
('ARPU', 'Turks & Caicos Is.', nan, nan)
('ARPU', 'Tuvalu', nan, nan)
('ARPU', 'Türkiye', 'Europe', 'Upper-middle-income')
('ARPU', 'Uganda', 'Africa', 'Low-income')
('ARPU', 'Ukraine', 'Europe', 'Upper-middle-income')
('ARPU', 'United Arab Emirates', 'Arab States', 'High-income')
('ARPU', 'United Kingdom', 'Europe', 'High-income')
('ARPU', 'United States', 'Americas', 'High-income')
('ARPU', 'Uruguay', 'Americas', 'High-income')
('ARPU', 'Uzbekistan', 'CIS', 'Lower-middle-income')
('ARPU', 'Vanuatu', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Venezuela', 'Americas', 'n.a.')
('ARPU', 'Viet Nam', 'Asia-Pacific', 'Lower-middle-income')
('ARPU', 'Virgin Islands (US)', nan, nan)
('ARPU', 'Wallis and Futuna', nan, nan)
('ARPU', 'Yemen', 'Arab States', 'Low-income')
('ARPU', 'Zambia', 'Africa', 'Lower-middle-income')
('ARPU', 'Zimbabwe', 'Africa', 'Lower-middle-income')
('Population', 'Afghanistan', 'Asia-Pacific', 'Low-income')
('Population', 'Albania', 'Europe', 'Upper-middle-income')
('Population', 'Algeria', 'Arab States', 'Upper-middle-income')
('Population', 'American Samoa', nan, nan)
('Population', 'Andorra', 'Europe', 'High-income')
('Population', 'Angola', 'Africa', 'Lower-middle-income')
('Population', 'Anguilla', nan, nan)
('Population', 'Antigua and Barbuda', nan, nan)
('Population', 'Argentina', 'Americas', 'Upper-middle-income')
('Population', 'Armenia', 'CIS', 'Upper-middle-income')
('Population', 'Aruba', nan, nan)
('Population', 'Ascension', nan, nan)
('Population', 'Australia', 'Asia-Pacific', 'High-income')
('Population', 'Austria', 'Europe', 'High-income')
('Population', 'Azerbaijan', 'CIS', 'Upper-middle-income')
('Population', 'Bahamas', 'Americas', 'High-income')
('Population', 'Bahrain', 'Arab States', 'High-income')
('Population', 'Bangladesh', 'Asia-Pacific', 'Lower-middle-income')
('Population', 'Barbados', 'Americas', 'High-income')
('Population', 'Belarus', 'CIS', 'Upper-middle-income')
('Population', 'Belgium', 'Europe', 'High-income')
('Population', 'Belize', nan, nan)
('Population', 'Benin', 'Africa', 'Lower-middle-income')
('Population', 'Bermuda', nan, nan)
('Population', 'Bhutan', 'Asia-Pacific', 'Lower-middle-income')
('Population', 'Bolivia (Plurinational State of)', nan, nan)
('Population', 'Bosnia and Herzegovina', 'Europe', 'Upper-middle-income')
('Population', 'Botswana', 'Africa', 'Upper-middle-income')
('Population', 'Brazil', 'Americas', 'Upper-middle-income')
('Population', 'British Virgin Islands', nan, nan)
('Population', 'Brunei Darussalam', 'Asia-Pacific', 'High-income')
('Population', 'Bulgaria', 'Europe', 'High-income')
('Population', 'Burkina Faso', nan, nan)
('Population', 'Burundi', 'Africa', 'Low-income')
('Population', 'Cabo Verde', 'Africa', 'Lower-middle-income')
('Population', 'Cambodia', 'Asia-Pacific', 'Lower-middle-income')
('Population', 'Cameroon', 'Africa', 'Lower-middle-income')
('Population', 'Canada', 'Americas', 'High-income')
('Population', 'Cayman Islands', nan, nan)
('Population', 'Central African Rep.', nan, nan)
('Population', 'Chad', nan, nan)
('Population', 'Chile', 'Americas', 'High-income')
('Population', 'China', 'Asia-Pacific', 'Upper-middle-income')
('Population', 'Colombia', 'Americas', 'Upper-middle-income')
('Population', 'Comoros', 'Arab States', 'Lower-middle-income')
('Population', 'Congo (Rep. of the)', 'Africa', 'Lower-middle-income')
('Population', 'Cook Islands', nan, nan)
('Population', 'Costa Rica', 'Americas', 'Upper-middle-income')
('Population', 'Croatia', 'Europe', 'High-income')
('Population', 'Cuba', 'Americas', 'Upper-middle-income')
('Population', 'Curacao', nan, nan)
('Population', 'Cyprus', 'Europe', 'High-income')
('Population', 'Czech Republic', 'Europe', 'High-income')
('Population', "Côte d'Ivoire", 'Africa', 'Lower-middle-income')
('Population', "Dem. People's Rep. of Korea", nan, nan)
('Population', 'Dem. Rep. of the Congo', 'Africa', 'Low-income')
('Population', 'Denmark', 'Europe', 'High-income')
('Population', 'Djibouti', 'Arab States', 'Lower-middle-income')
('Population', 'Dominica', 'Americas', 'Upper-middle-income')
('Population', 'Dominican Rep.', nan, nan)
('Population', 'Ecuador', 'Americas', 'Upper-middle-income')
('Population', 'Egypt', 'Arab States', 'Lower-middle-income')
('Population', 'El Salvador', 'Americas', 'Upper-middle-income')
('Population', 'Equatorial Guinea', 'Africa', 'Upper-middle-income')
('Population', 'Eritrea', nan, nan)
('Population', 'Estonia', 'Europe', 'High-income')
('Population', 'Eswatini', 'Africa', 'Lower-middle-income')
('Population', 'Ethiopia', 'Africa', 'Low-income')
('Population', 'Falkland (Malvinas) Is.', nan, nan)
('Population', 'Faroe Islands', nan, nan)
('Population', 'Fiji', nan, nan)
('Population', 'Finland', 'Europe', 'High-income')
('Population', 'France', 'Europe', 'High-income')
('Population', 'French Guiana', nan, nan)
('Population', 'French Polynesia', nan, nan)
('Population', 'Gabon', 'Africa', 'Upper-middle-income')
('Population', 'Gambia', nan, nan)
('Population', 'Georgia', 'Europe', 'Upper-middle-income')
('Population', 'Germany', 'Europe', 'High-income')
('Population', 'Ghana', 'Africa', 'Lower-middle-income')
('Population', 'Gibraltar', nan, nan)
('Population', 'Greece', 'Europe', 'High-income')
('Population', 'Greenland', nan, nan)
('Population', 'Grenada', nan, nan)
('Population', 'Guadeloupe', nan, nan)
('Population', 'Guam', nan, nan)
('Population', 'Guatemala', 'Americas', 'Upper-middle-income')
('Population', 'Guernsey', nan, nan)
('Population', 'Guinea', nan, nan)
('Population', 'Guinea-Bissau', 'Africa', 'Low-income')
('Population', 'Guyana', nan, nan)
('Population', 'Haiti', nan, nan)
('Population', 'Honduras', 'Americas', 'Lower-middle-income')
('Population', 'Hong Kong, China', 'Asia-Pacific', 'High-income')
('Population', 'Hungary', 'Europe', 'High-income')
('Population', 'Iceland', 'Europe', 'High-income')
('Population', 'India', nan, nan)
('Population', 'Indonesia', 'Asia-Pacific', 'Upper-middle-income')
('Population', 'Iran (Islamic Republic of)', 'Asia-Pacific', 'Upper-middle-income')
('Population', 'Iraq', 'Arab States', 'Upper-middle-income')
('Population', 'Ireland', 'Europe', 'High-income')
('Population', 'Israel', 'Europe', 'High-income')
('Population', 'Italy', 'Europe', 'High-income')
('Population', 'Jamaica', 'Americas', 'Upper-middle-income')
('Population', 'Japan', 'Asia-Pacific', 'High-income')
('Population', 'Jersey', nan, nan)
('Population', 'Jordan', 'Arab States', 'Lower-middle-income')
('Population', 'Kazakhstan', 'CIS', 'Upper-middle-income')
('Population', 'Kenya', 'Africa', 'Lower-middle-income')
('Population', 'Kiribati', 'Asia-Pacific', 'Lower-middle-income')
('Population', 'Korea (Rep. of)', 'Asia-Pacific', 'High-income')
('Population', 'Kosovo', nan, nan)
('Population', 'Kuwait', 'Arab States', 'High-income')
('Population', 'Kyrgyzstan', 'CIS', 'Lower-middle-income')
('Population', 'Lao P.D.R.', 'Asia-Pacific', 'Lower-middle-income')
('Population', 'Latvia', 'Europe', 'High-income')
('Population', 'Lebanon', nan, nan)
('Population', 'Lesotho', 'Africa', 'Lower-middle-income')
('Population', 'Liberia', 'Africa', 'Low-income')
('Population', 'Libya', 'Arab States', 'Upper-middle-income')
('Population', 'Liechtenstein', 'Europe', 'High-income')
('Population', 'Lithuania', 'Europe', 'High-income')
('Population', 'Luxembourg', 'Europe', 'High-income')
('Population', 'Macao, China', 'Asia-Pacific', 'High-income')
('Population', 'Madagascar', 'Africa', 'Low-income')
('Population', 'Malawi', 'Africa', 'Low-income')
('Population', 'Malaysia', 'Asia-Pacific', 'Upper-middle-income')
('Population', 'Maldives', 'Asia-Pacific', 'Upper-middle-income')
('Population', 'Mali', 'Africa', 'Low-income')
('Population', 'Malta', 'Europe', 'High-income')
('Population', 'Marshall Islands', nan, nan)
('Population', 'Martinique', nan, nan)
('Population', 'Mauritania', 'Arab States', 'Lower-middle-income')
('Population', 'Mauritius', 'Africa', 'Upper-middle-income')
('Population', 'Mayotte', nan, nan)
('Population', 'Mexico', 'Americas', 'Upper-middle-income')
('Population', 'Micronesia', nan, nan)
('Population', 'Moldova', 'Europe', 'Upper-middle-income')
('Population', 'Monaco', 'Europe', 'High-income')
('Population', 'Mongolia', 'Asia-Pacific', 'Upper-middle-income')
('Population', 'Montenegro', 'Europe', 'Upper-middle-income')
('Population', 'Montserrat', nan, nan)
('Population', 'Morocco', 'Arab States', 'Lower-middle-income')
('Population', 'Mozambique', 'Africa', 'Low-income')
('Population', 'Myanmar', 'Asia-Pacific', 'Lower-middle-income')
('Population', 'Namibia', 'Africa', 'Upper-middle-income')
('Population', 'Nauru', nan, nan)
('Population', 'Nepal (Republic of)', nan, nan)
('Population', 'Neth. Antilles', nan, nan)
('Population', 'Netherlands', 'Europe', 'High-income')
('Population', 'New Caledonia', nan, nan)
('Population', 'New Zealand', 'Asia-Pacific', 'High-income')
('Population', 'Nicaragua', 'Americas', 'Lower-middle-income')
('Population', 'Niger', nan, nan)
('Population', 'Nigeria', 'Africa', 'Lower-middle-income')
('Population', 'Niue', nan, nan)
('Population', 'Norfolk Islands', nan, nan)
('Population', 'North Macedonia', 'Europe', 'Upper-middle-income')
('Population', 'Northern Marianas', nan, nan)
('Population', 'Norway', 'Europe', 'High-income')
('Population', 'Oman', 'Arab States', 'High-income')
('Population', 'Pakistan', 'Asia-Pacific', 'Lower-middle-income')
('Population', 'Palau', nan, nan)
('Population', 'Panama', 'Americas', 'High-income')
('Population', 'Papua New Guinea', nan, nan)
('Population', 'Paraguay', 'Americas', 'Upper-middle-income')
('Population', 'Peru', 'Americas', 'Upper-middle-income')
('Population', 'Philippines', 'Asia-Pacific', 'Lower-middle-income')
('Population', 'Poland', 'Europe', 'High-income')
('Population', 'Portugal', 'Europe', 'High-income')
('Population', 'Puerto Rico', nan, nan)
('Population', 'Qatar', 'Arab States', 'High-income')
('Population', 'Romania', 'Europe', 'High-income')

In [62]:
from collections import defaultdict

# Ensure year columns are strings
combined_df.columns = combined_df.columns.astype(str)

# Define early years to scan (customizable)
early_years = combined_df.columns  # or slice like combined_df.columns[:10]

# Storage
zero_counts_by_metric = defaultdict(lambda: defaultdict(int))

for metric in combined_df.index.levels[0]:
    df_metric = combined_df.loc[metric]
    
    for country in df_metric.index:
        row = df_metric.loc[country]
        zero_block = True
        for year in early_years:
            if row[year] == 0:
                zero_counts_by_metric[metric][year] += 1
            else:
                break  # stop at first non-zero
    
print("Number of rows per metric starting with 0s in each year (until first non-zero):\n")

for metric, year_counts in zero_counts_by_metric.items():
    print(f"{metric}")
    for year, count in year_counts.items():
        print(f"  {year}: {count} rows")
    print()

Number of rows per metric starting with 0s in each year (until first non-zero):

ARPU
  2000: 225 rows
  2001: 225 rows
  2002: 225 rows
  2003: 225 rows
  2004: 225 rows
  2005: 225 rows
  2006: 225 rows
  2007: 225 rows
  2008: 85 rows
  2009: 85 rows
  2010: 85 rows
  2011: 85 rows
  2012: 85 rows
  2013: 27 rows
  2014: 23 rows
  2015: 23 rows
  2016: 22 rows
  2017: 22 rows
  2018: 20 rows
  2019: 19 rows
  2020: 18 rows
  2021: 17 rows
  2022: 17 rows
  2023: 4 rows
  2024: 4 rows

Population
  2000: 1 rows
  2001: 1 rows
  2002: 1 rows
  2003: 1 rows
  2004: 1 rows
  2005: 1 rows
  2006: 1 rows
  2007: 1 rows

Subscribers
  2000: 27 rows
  2001: 27 rows
  2002: 19 rows
  2003: 14 rows
  2004: 10 rows
  2005: 8 rows
  2006: 8 rows
  2007: 8 rows
  2008: 8 rows
  2009: 6 rows
  2010: 5 rows
  2011: 5 rows
  2012: 4 rows
  2013: 4 rows
  2014: 4 rows
  2015: 2 rows
  2016: 2 rows
  2017: 2 rows
  2018: 2 rows
  2019: 2 rows
  2020: 2 rows
  2021: 2 rows
  2022: 1 rows
  2023: 1 rows
  2024: 1 rows

In [63]:
# Step 1: Copy and clean columns (drop 2000–2007)
df_yrs = combined_df.copy()
df_yrs.columns = df_yrs.columns.astype(str)
years_to_drop = [str(y) for y in range(2000, 2008)]
df_yrs = df_yrs.drop(columns=years_to_drop)
print(f"Dropped columns: {years_to_drop}")
print(f"Remaining columns: {df_yrs.columns.tolist()}")

Dropped columns: ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007']
Remaining columns: ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

In [64]:
# Step 2: Define helper function to normalize country names
def normalize_string(s):
    if isinstance(s, str):
        return unicodedata.normalize('NFKD', s).encode('ascii', 'ignore').decode('utf-8').strip().casefold()
    return s

In [65]:
# Step 3: Normalize country names and find mismatches
subscribers = set(df_yrs.loc['Subscribers'].index.map(normalize_string))
arpu = set(df_yrs.loc['ARPU'].index.map(normalize_string))
population = set(df_yrs.loc['Population'].index.map(normalize_string))

all_countries = subscribers | arpu | population
mismatched_normalized = [
    c for c in all_countries
    if not (c in subscribers and c in arpu and c in population)
]
print(f"\n🔍 Countries not in all 3 categories (normalized):")
for c in sorted(mismatched_normalized): print(" -", c)
print(f"❌ Total mismatched (normalized): {len(mismatched_normalized)}")

🔍 Countries not in all 3 categories (normalized):
 - ('Ascension', nan, nan)
 - ('Cocos Keeling Islands', nan, nan)
 - ('Guadeloupe', nan, nan)
 - ('Guernsey', nan, nan)
 - ('Jersey', nan, nan)
 - ('Martinique', nan, nan)
 - ('Mayotte', nan, nan)
 - ('Neth. Antilles', nan, nan)
 - ('Norfolk Islands', nan, nan)
 - ('Réunion', nan, nan)
 - ('St. Pierre & Miquelon', nan, nan)
 - ('Vatican', nan, nan)
❌ Total mismatched (normalized): 12

In [66]:
# Step 4: Drop rows with mismatched countries
df_yrs = df_yrs[~df_yrs.index.get_level_values(1).map(normalize_string).isin(mismatched_normalized)]
print(f"\n✅ Removed mismatched countries. Remaining rows: {df_yrs.shape[0]}")

✅ Removed mismatched countries. Remaining rows: 692

In [67]:
# Step 5: Validate by counting appearances per country
counts = df_yrs.index.get_level_values(1).value_counts()
incomplete = counts[counts != 3].index.tolist()
if incomplete:
    print("\nStill incomplete countries (check for subtle naming differences):")
    for country in sorted(incomplete): print(" -", country)
else:
    print("\nAll countries now appear in exactly 3 categories (Subscribers, ARPU, Population).")

Still incomplete countries (check for subtle naming differences):
 - Ascension
 - Cocos Keeling Islands
 - Guadeloupe
 - Guernsey
 - Jersey
 - Martinique
 - Mayotte
 - Neth. Antilles
 - Norfolk Islands
 - Réunion
 - St. Pierre & Miquelon
 - Vatican

In [68]:
# If we really want to clean most zeros
# Ensure year columns are strings
df_yrs.columns = df_yrs.columns.astype(str)

# Select year columns except 2024
year_columns_excl_2024 = [col for col in df_yrs.columns if col != '2024']

# Identify countries to drop
countries_to_drop = []

for country in df_yrs.index.get_level_values(1).unique():
    try:
        subset = df_yrs.xs(country, level=1)  # All 3 metrics for this country
        zero_counts = (subset[year_columns_excl_2024] == 0).sum(axis=1)
        if (zero_counts >= 2).any():
            countries_to_drop.append(country)
    except KeyError:
        continue

# Drop all rows for those countries
df_yrs = df_yrs[~df_yrs.index.get_level_values(1).isin(countries_to_drop)]

#  Summary
print(f" Dropped all rows for {len(countries_to_drop)} countries with 2+ zeros (excluding 2024).")
print("Dropped countries:", countries_to_drop)

 Dropped all rows for 99 countries with 2+ zeros (excluding 2024).
Dropped countries: ['Afghanistan', 'American Samoa', 'Andorra', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Aruba', 'Bahamas', 'Bermuda', 'British Virgin Islands', 'Burundi', 'Cameroon', 'Cayman Islands', 'Central African Rep.', 'Chad', 'Cocos Keeling Islands', 'Comoros', 'Congo (Rep. of the)', 'Cook Islands', 'Curacao', "Dem. People's Rep. of Korea", 'Dem. Rep. of the Congo', 'Djibouti', 'Ecuador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Falkland (Malvinas) Is.', 'Faroe Islands', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Gibraltar', 'Greenland', 'Guam', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Iran (Islamic Republic of)', 'Iraq', 'Israel', 'Kazakhstan', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Liberia', 'Libya', 'Liechtenstein', 'Malawi', 'Marshall Islands', 'Micronesia', 'Monaco', 'Mongolia', 'Montserrat', 'Myanmar', 'Nauru', 'New Caledonia', 'Niger', 'Niue', 'Northern Marianas', 'Palau', 'Puerto Rico', 'Rwanda', 'Saint Kitts and Nevis', 'Samoa', 'San Marino', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Sudan', 'St. Helena', 'St. Maarten', 'State of Palestine', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Timor-Leste', 'Tokelau', 'Tonga', 'Turkmenistan', 'Turks & Caicos Is.', 'Tuvalu', 'Uzbekistan', 'Venezuela', 'Virgin Islands (US)', 'Wallis and Futuna', 'Zimbabwe', 'Ascension', 'Guadeloupe', 'Guernsey', 'Jersey', 'Martinique', 'Mayotte', 'Neth. Antilles', 'Norfolk Islands', 'Réunion']

In [69]:
required_metrics = {'Population', 'Subscribers', 'ARPU'}
cols_ex_2024 = [col for col in df_yrs.columns if col != '2024']

to_drop = []

for country in df_yrs.index.get_level_values(1).unique():
    present_metrics = set(df_yrs.loc[(slice(None), country), :].index.get_level_values(0))
    if not required_metrics.issubset(present_metrics):
        to_drop.append(country)
        continue

    subset = df_yrs.xs(country, level=1)
    zero_counts = (subset[cols_ex_2024].fillna(0) == 0).sum(axis=1)
    if (zero_counts >= 2).any():
        to_drop.append(country)

df_yrs = df_yrs[~df_yrs.index.get_level_values(1).isin(to_drop)]

print(f"Dropped {len(to_drop)} countries with missing metrics or ≥2 zeros (excluding 2024):", to_drop)

Dropped 2 countries with missing metrics or ≥2 zeros (excluding 2024): ['St. Pierre & Miquelon', 'Vatican']

In [70]:
# countries_to_drop = ['St. Pierre & Miquelon', 'Vatican']
# level1_to_drop = 'Population'

# mask = ~((df_yrs.index.get_level_values(0) == level1_to_drop) & 
#          (df_yrs.index.get_level_values(1).isin(countries_to_drop)))

# df_yrs = df_yrs[mask]

# print(f"Manually dropped '{level1_to_drop}' rows for countries: {countries_to_drop}")
# print(f"Remaining rows: {df_yrs.shape[0]}")

In [71]:
# Save df_yrs to Excel
df_yrs.to_excel("df_yrs.xlsx")
print("df_yrs has been saved as 'df_yrs.xlsx'")

df_yrs has been saved as 'df_yrs.xlsx'

In [72]:
df_yrs.head()

dataYear                                                                2008  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                  32.13
          Algeria    Arab States  Upper-middle-income                  11.75
          Angola     Africa       Lower-middle-income                  17.65
          Armenia    CIS          Upper-middle-income                  14.63
          Australia  Asia-Pacific High-income                          42.56

dataYear                                                                2009  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                  26.82
          Algeria    Arab States  Upper-middle-income                  12.48
          Angola     Africa       Lower-middle-income                  20.16
          Armenia    CIS          Upper-middle-income                  11.85
          Australia  Asia-Pacific High-income                          56.05

dataYear                                                                2010  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                  31.73
          Algeria    Arab States  Upper-middle-income                  12.97
          Angola     Africa       Lower-middle-income                  19.46
          Armenia    CIS          Upper-middle-income                   8.22
          Australia  Asia-Pacific High-income                          18.95

dataYear                                                                2011  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                  25.81
          Algeria    Arab States  Upper-middle-income                  13.84
          Angola     Africa       Lower-middle-income                  19.24
          Armenia    CIS          Upper-middle-income                   8.85
          Australia  Asia-Pacific High-income                          27.70

dataYear                                                                2012  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                  25.76
          Algeria    Arab States  Upper-middle-income                  13.84
          Angola     Africa       Lower-middle-income                  20.70
          Armenia    CIS          Upper-middle-income                   8.85
          Australia  Asia-Pacific High-income                          27.70

dataYear                                                                   2013  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                  31.72790
          Algeria    Arab States  Upper-middle-income                  12.97470
          Angola     Africa       Lower-middle-income                  19.46280
          Armenia    CIS          Upper-middle-income                   8.22091
          Australia  Asia-Pacific High-income                          18.94840

dataYear                                                               2014  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                  30.1
          Algeria    Arab States  Upper-middle-income                  12.8
          Angola     Africa       Lower-middle-income                  18.6
          Armenia    CIS          Upper-middle-income                   8.1
          Australia  Asia-Pacific High-income                          17.7

dataYear                                                               2015  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   6.4
          Algeria    Arab States  Upper-middle-income                  10.2
          Angola     Africa       Lower-middle-income                  15.4
          Armenia    CIS          Upper-middle-income                   7.0
          Australia  Asia-Pacific High-income                          14.7

dataYear                                                               2016  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   6.4
          Algeria    Arab States  Upper-middle-income                  10.1
          Angola     Africa       Lower-middle-income                  11.2
          Armenia    CIS          Upper-middle-income                   3.1
          Australia  Asia-Pacific High-income                          14.6

dataYear                                                                   2017  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   6.71706
          Algeria    Arab States  Upper-middle-income                   8.15450
          Angola     Africa       Lower-middle-income                  16.17730
          Armenia    CIS          Upper-middle-income                   3.04371
          Australia  Asia-Pacific High-income                          22.99280

dataYear                                                                2018  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   7.41
          Algeria    Arab States  Upper-middle-income                   5.64
          Angola     Africa       Lower-middle-income                   9.75
          Armenia    CIS          Upper-middle-income                   2.68
          Australia  Asia-Pacific High-income                          36.61

dataYear                                                                2019  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   7.41
          Algeria    Arab States  Upper-middle-income                   5.64
          Angola     Africa       Lower-middle-income                   9.75
          Armenia    CIS          Upper-middle-income                   2.68
          Australia  Asia-Pacific High-income                          36.61

dataYear                                                                2020  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   7.29
          Algeria    Arab States  Upper-middle-income                   5.12
          Angola     Africa       Lower-middle-income                   4.49
          Armenia    CIS          Upper-middle-income                   3.71
          Australia  Asia-Pacific High-income                          34.21

dataYear                                                                   2021  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   5.88120
          Algeria    Arab States  Upper-middle-income                   4.92299
          Angola     Africa       Lower-middle-income                   3.08020
          Armenia    CIS          Upper-middle-income                   3.46140
          Australia  Asia-Pacific High-income                          23.10700

dataYear                                                                   2022  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   5.31161
          Algeria    Arab States  Upper-middle-income                   4.53298
          Angola     Africa       Lower-middle-income                   4.75146
          Armenia    CIS          Upper-middle-income                   3.99934
          Australia  Asia-Pacific High-income                          21.46820

dataYear                                                                2023  \
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   9.88
          Algeria    Arab States  Upper-middle-income                   4.84
          Angola     Africa       Lower-middle-income                   2.12
          Armenia    CIS          Upper-middle-income                   5.17
          Australia  Asia-Pacific High-income                          20.05

dataYear                                                                2024
Indicator entityName ITU Region   World Bank Income group (2024 July)
ARPU      Albania    Europe       Upper-middle-income                   9.61
          Algeria    Arab States  Upper-middle-income                   4.89
          Angola     Africa       Lower-middle-income                   1.36
          Armenia    CIS          Upper-middle-income                   5.14
          Australia  Asia-Pacific High-income                          23.07

In [73]:
print(type(arpu))

<class 'set'>

In [74]:
# Add Level-1 Blocks Market Size and Penetration Rate 

year_cols = [str(y) for y in range(2008, 2025)]

# 1) grab clean DataFrames for each Indicator
subs = df_yrs.xs('Subscribers', level='Indicator')
arpu = df_yrs.xs('ARPU', level='Indicator')
pop  = df_yrs.xs('Population', level='Indicator')

# 2) reset indices so meta-columns become ordinary columns
subs_reset = subs.reset_index()
arpu_reset = arpu.reset_index()
pop_reset  = pop.reset_index()

# 3) calculate market size
market_size = subs_reset[year_cols].astype(float).values * arpu_reset[year_cols].astype(float).values * 12   # annualized ARPU
market_size_df = pd.DataFrame(market_size, columns=year_cols)
for col in ['entityName', 'ITU Region', 'World Bank Income group (2024 July)']:
    market_size_df[col] = subs_reset[col]
market_size_df['dataYear'] = 'Market Size'
market_size_df = market_size_df[['dataYear','entityName','ITU Region','World Bank Income group (2024 July)'] + year_cols]

# 4) calculate penetration rate
penetration = subs_reset[year_cols].astype(float).values / pop_reset[year_cols].astype(float).replace(0, np.nan).values
penetration_df = pd.DataFrame(penetration, columns=year_cols)
for col in ['entityName', 'ITU Region', 'World Bank Income group (2024 July)']:
    penetration_df[col] = subs_reset[col]
penetration_df['dataYear'] = 'Penetration Rate'
penetration_df = penetration_df[['dataYear','entityName','ITU Region','World Bank Income group (2024 July)'] + year_cols]

# 5) stitch back into your big df
combined = pd.concat([market_size_df, penetration_df], ignore_index=True)
combined = combined.set_index(['dataYear','entityName','ITU Region','World Bank Income group (2024 July)'])
df_indicators = pd.concat([df_yrs, combined])

In [75]:
# Save df_yrs to Excel
df_indicators.to_excel("df_indicators.xlsx")
print("df_indicators has been saved as 'df_indicators.xlsx'")

df_indicators has been saved as 'df_indicators.xlsx'

In [76]:
#   1. Averages of ARPU and Penetration Rate for Level-3 and Level-4 (leave Level-2 empty)
#   2. Totals of Population, Subscribers, Market Size for Level-3 and Level-4 (leave Level-2 empty)

# Step 1: Select numeric columns (i.e., year columns)
numeric_cols = year_cols  # e.g., ['2018', '2019', ..., '2023']

# Step 2: Define aggregation categories
avg_years = ['ARPU', 'Penetration Rate']
sum_years = ['Population', 'Subscribers', 'Market Size']

# Step 3: Create containers
avg_dfs = []
sum_dfs = []

# Step 4: Group and aggregate averages (ARPU, Penetration Rate)
for indicator in avg_years:
    if indicator in df_yrs.index.get_level_values(0):
        df_filtered = df_yrs.loc[indicator]
        df_avg = df_filtered.groupby(['ITU Region', 'World Bank Income group (2024 July)'])[numeric_cols].mean()

        # Add back the full MultiIndex structure
        df_avg['dataYear'] = indicator
        df_avg['entityName'] = 'Average - Region & Income Group'
        df_avg = df_avg.reset_index()
        df_avg = df_avg[['dataYear', 'entityName', 'ITU Region', 'World Bank Income group (2024 July)'] + numeric_cols]
        df_avg = df_avg.set_index(['dataYear', 'entityName', 'ITU Region', 'World Bank Income group (2024 July)'])

        avg_dfs.append(df_avg)

# Step 5: Group and aggregate totals (Population, Subscribers, Market Size)
for indicator in sum_years:
    if indicator in df_yrs.index.get_level_values(0):
        df_filtered = df_yrs.loc[indicator]
        df_sum = df_filtered.groupby(['ITU Region', 'World Bank Income group (2024 July)'])[numeric_cols].sum()

        # Add back the full MultiIndex structure
        df_sum['dataYear'] = indicator
        df_sum['entityName'] = 'Total - Region & Income Group'
        df_sum = df_sum.reset_index()
        df_sum = df_sum[['dataYear', 'entityName', 'ITU Region', 'World Bank Income group (2024 July)'] + numeric_cols]
        df_sum = df_sum.set_index(['dataYear', 'entityName', 'ITU Region', 'World Bank Income group (2024 July)'])

        sum_dfs.append(df_sum)

# Step 6: Combine all aggregated frames
aggregated_df = pd.concat(avg_dfs + sum_dfs)

# Step 7: Append to df_indicators
df_totavg = df_indicators.copy() 
df_totavg = pd.concat([df_totavg, aggregated_df])

In [77]:
df_totavg.head()

                                                                   2008  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                  32.13
     Algeria    Arab States  Upper-middle-income                  11.75
     Angola     Africa       Lower-middle-income                  17.65
     Armenia    CIS          Upper-middle-income                  14.63
     Australia  Asia-Pacific High-income                          42.56

                                                                   2009  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                  26.82
     Algeria    Arab States  Upper-middle-income                  12.48
     Angola     Africa       Lower-middle-income                  20.16
     Armenia    CIS          Upper-middle-income                  11.85
     Australia  Asia-Pacific High-income                          56.05

                                                                   2010  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                  31.73
     Algeria    Arab States  Upper-middle-income                  12.97
     Angola     Africa       Lower-middle-income                  19.46
     Armenia    CIS          Upper-middle-income                   8.22
     Australia  Asia-Pacific High-income                          18.95

                                                                   2011  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                  25.81
     Algeria    Arab States  Upper-middle-income                  13.84
     Angola     Africa       Lower-middle-income                  19.24
     Armenia    CIS          Upper-middle-income                   8.85
     Australia  Asia-Pacific High-income                          27.70

                                                                   2012  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                  25.76
     Algeria    Arab States  Upper-middle-income                  13.84
     Angola     Africa       Lower-middle-income                  20.70
     Armenia    CIS          Upper-middle-income                   8.85
     Australia  Asia-Pacific High-income                          27.70

                                                                      2013  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                  31.72790
     Algeria    Arab States  Upper-middle-income                  12.97470
     Angola     Africa       Lower-middle-income                  19.46280
     Armenia    CIS          Upper-middle-income                   8.22091
     Australia  Asia-Pacific High-income                          18.94840

                                                                  2014  2015  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                  30.1   6.4
     Algeria    Arab States  Upper-middle-income                  12.8  10.2
     Angola     Africa       Lower-middle-income                  18.6  15.4
     Armenia    CIS          Upper-middle-income                   8.1   7.0
     Australia  Asia-Pacific High-income                          17.7  14.7

                                                                  2016  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                   6.4
     Algeria    Arab States  Upper-middle-income                  10.1
     Angola     Africa       Lower-middle-income                  11.2
     Armenia    CIS          Upper-middle-income                   3.1
     Australia  Asia-Pacific High-income                          14.6

                                                                      2017  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                   6.71706
     Algeria    Arab States  Upper-middle-income                   8.15450
     Angola     Africa       Lower-middle-income                  16.17730
     Armenia    CIS          Upper-middle-income                   3.04371
     Australia  Asia-Pacific High-income                          22.99280

                                                                   2018  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                   7.41
     Algeria    Arab States  Upper-middle-income                   5.64
     Angola     Africa       Lower-middle-income                   9.75
     Armenia    CIS          Upper-middle-income                   2.68
     Australia  Asia-Pacific High-income                          36.61

                                                                   2019  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                   7.41
     Algeria    Arab States  Upper-middle-income                   5.64
     Angola     Africa       Lower-middle-income                   9.75
     Armenia    CIS          Upper-middle-income                   2.68
     Australia  Asia-Pacific High-income                          36.61

                                                                   2020  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                   7.29
     Algeria    Arab States  Upper-middle-income                   5.12
     Angola     Africa       Lower-middle-income                   4.49
     Armenia    CIS          Upper-middle-income                   3.71
     Australia  Asia-Pacific High-income                          34.21

                                                                      2021  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                   5.88120
     Algeria    Arab States  Upper-middle-income                   4.92299
     Angola     Africa       Lower-middle-income                   3.08020
     Armenia    CIS          Upper-middle-income                   3.46140
     Australia  Asia-Pacific High-income                          23.10700

                                                                      2022  \
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                   5.31161
     Algeria    Arab States  Upper-middle-income                   4.53298
     Angola     Africa       Lower-middle-income                   4.75146
     Armenia    CIS          Upper-middle-income                   3.99934
     Australia  Asia-Pacific High-income                          21.46820

                                                                   2023   2024
     entityName ITU Region   World Bank Income group (2024 July)
ARPU Albania    Europe       Upper-middle-income                   9.88   9.61
     Algeria    Arab States  Upper-middle-income                   4.84   4.89
     Angola     Africa       Lower-middle-income                   2.12   1.36
     Armenia    CIS          Upper-middle-income                   5.17   5.14
     Australia  Asia-Pacific High-income                          20.05  23.07

In [78]:
# Clean the data: replace inf and fill NA with 0
df_clean = df_totavg.replace([np.inf, -np.inf], np.nan).fillna(0)

# Identify 'Penetration Rate' rows using MultiIndex level
mask_pr = df_clean.index.get_level_values(0) == 'Penetration Rate'

# Convert all data to float (coerce errors), fill NA with 0
df_fmt = df_clean.copy().apply(pd.to_numeric, errors='coerce').fillna(0).astype(float)  # ✅ ENSURE FLOAT

# Create empty display DataFrame with same structure
df_display = pd.DataFrame(index=df_fmt.index, columns=df_fmt.columns)

# Format each value for display
for idx in df_fmt.index:
    for col in df_fmt.columns:
        val = df_fmt.at[idx, col]
        
        if idx[0] == 'Penetration Rate':
            # ✅ Leave as float, show % with 4 decimal precision
            df_display.at[idx, col] = f"{val:.4f}%"  # e.g. '92.4321%'
        else:
            # ✅ Leave float unrounded, format to 2 decimal places
            df_display.at[idx, col] = f"{val:.2f}"   # e.g. '16.63'

# Copy final formatted values to df_fmt for downstream use
df_fmt = df_display.copy()

# Restore index/column names (important for Excel/export)
df_fmt.index.set_names(['Key Indicator', 'Country', 'ITU Region', 'WB Income Group'], inplace=True)
df_fmt.columns.name = 'Year'

In [79]:
# Function to apply formatting based on Level-1 index name (Indicator)
df_fmt = df_display.copy()  # ✅ already formatted correctly with full floats

df_fmt.index.set_names(['Key Indicator', 'Country', 'ITU Region', 'WB Income Group'], inplace=True)
df_fmt.columns.name = 'Year'

# Display with formatting
df_fmt.head()

Year                                                       2008   2009   2010  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income  32.13  26.82  31.73
              Algeria   Arab States  Upper-middle-income  11.75  12.48  12.97
              Angola    Africa       Lower-middle-income  17.65  20.16  19.46
              Armenia   CIS          Upper-middle-income  14.63  11.85   8.22
              Australia Asia-Pacific High-income          42.56  56.05  18.95

Year                                                       2011   2012   2013  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income  25.81  25.76  31.73
              Algeria   Arab States  Upper-middle-income  13.84  13.84  12.97
              Angola    Africa       Lower-middle-income  19.24  20.70  19.46
              Armenia   CIS          Upper-middle-income   8.85   8.85   8.22
              Australia Asia-Pacific High-income          27.70  27.70  18.95

Year                                                       2014   2015   2016  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income  30.10   6.40   6.40
              Algeria   Arab States  Upper-middle-income  12.80  10.20  10.10
              Angola    Africa       Lower-middle-income  18.60  15.40  11.20
              Armenia   CIS          Upper-middle-income   8.10   7.00   3.10
              Australia Asia-Pacific High-income          17.70  14.70  14.60

Year                                                       2017   2018   2019  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income   6.72   7.41   7.41
              Algeria   Arab States  Upper-middle-income   8.15   5.64   5.64
              Angola    Africa       Lower-middle-income  16.18   9.75   9.75
              Armenia   CIS          Upper-middle-income   3.04   2.68   2.68
              Australia Asia-Pacific High-income          22.99  36.61  36.61

Year                                                       2020   2021   2022  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income   7.29   5.88   5.31
              Algeria   Arab States  Upper-middle-income   5.12   4.92   4.53
              Angola    Africa       Lower-middle-income   4.49   3.08   4.75
              Armenia   CIS          Upper-middle-income   3.71   3.46   4.00
              Australia Asia-Pacific High-income          34.21  23.11  21.47

Year                                                       2023   2024
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income   9.88   9.61
              Algeria   Arab States  Upper-middle-income   4.84   4.89
              Angola    Africa       Lower-middle-income   2.12   1.36
              Armenia   CIS          Upper-middle-income   5.17   5.14
              Australia Asia-Pacific High-income          20.05  23.07

In [80]:
# Optional: export to Excel
df_fmt.to_excel("formatted_output.xlsx")

In [81]:
df_fmt.head()

Year                                                       2008   2009   2010  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income  32.13  26.82  31.73
              Algeria   Arab States  Upper-middle-income  11.75  12.48  12.97
              Angola    Africa       Lower-middle-income  17.65  20.16  19.46
              Armenia   CIS          Upper-middle-income  14.63  11.85   8.22
              Australia Asia-Pacific High-income          42.56  56.05  18.95

Year                                                       2011   2012   2013  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income  25.81  25.76  31.73
              Algeria   Arab States  Upper-middle-income  13.84  13.84  12.97
              Angola    Africa       Lower-middle-income  19.24  20.70  19.46
              Armenia   CIS          Upper-middle-income   8.85   8.85   8.22
              Australia Asia-Pacific High-income          27.70  27.70  18.95

Year                                                       2014   2015   2016  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income  30.10   6.40   6.40
              Algeria   Arab States  Upper-middle-income  12.80  10.20  10.10
              Angola    Africa       Lower-middle-income  18.60  15.40  11.20
              Armenia   CIS          Upper-middle-income   8.10   7.00   3.10
              Australia Asia-Pacific High-income          17.70  14.70  14.60

Year                                                       2017   2018   2019  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income   6.72   7.41   7.41
              Algeria   Arab States  Upper-middle-income   8.15   5.64   5.64
              Angola    Africa       Lower-middle-income  16.18   9.75   9.75
              Armenia   CIS          Upper-middle-income   3.04   2.68   2.68
              Australia Asia-Pacific High-income          22.99  36.61  36.61

Year                                                       2020   2021   2022  \
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income   7.29   5.88   5.31
              Algeria   Arab States  Upper-middle-income   5.12   4.92   4.53
              Angola    Africa       Lower-middle-income   4.49   3.08   4.75
              Armenia   CIS          Upper-middle-income   3.71   3.46   4.00
              Australia Asia-Pacific High-income          34.21  23.11  21.47

Year                                                       2023   2024
Key Indicator Country   ITU Region   WB Income Group
ARPU          Albania   Europe       Upper-middle-income   9.88   9.61
              Algeria   Arab States  Upper-middle-income   4.84   4.89
              Angola    Africa       Lower-middle-income   2.12   1.36
              Armenia   CIS          Upper-middle-income   5.17   5.14
              Australia Asia-Pacific High-income          20.05  23.07

In [82]:
# Display first 3 rows from each Level-1 index (Indicator)
df_fmt_preview = df_fmt.groupby(level=0).head(3)

# Show the result
df_fmt_preview

Year                                                               2008  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income          32.13
                 Algeria Arab States Upper-middle-income          11.75
                 Angola  Africa      Lower-middle-income          17.65
Population       Albania Europe      Upper-middle-income     2992930.00
                 Algeria Arab States Upper-middle-income    34817000.00
                 Angola  Africa      Lower-middle-income    21578700.00
Subscribers      Albania Europe      Upper-middle-income     1859630.00
                 Algeria Arab States Upper-middle-income    27031500.00
                 Angola  Africa      Lower-middle-income     6773360.00
Market Size      Albania Europe      Upper-middle-income   716998942.80
                 Algeria Arab States Upper-middle-income  3811441500.00
                 Angola  Africa      Lower-middle-income  1434597648.00
Penetration Rate Albania Europe      Upper-middle-income        0.6213%
                 Algeria Arab States Upper-middle-income        0.7764%
                 Angola  Africa      Lower-middle-income        0.3139%

Year                                                               2009  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income          26.82
                 Algeria Arab States Upper-middle-income          12.48
                 Angola  Africa      Lower-middle-income          20.16
Population       Albania Europe      Upper-middle-income     2961480.00
                 Algeria Arab States Upper-middle-income    35490400.00
                 Angola  Africa      Lower-middle-income    22414800.00
Subscribers      Albania Europe      Upper-middle-income     2463740.00
                 Algeria Arab States Upper-middle-income    32729800.00
                 Angola  Africa      Lower-middle-income     8109420.00
Market Size      Albania Europe      Upper-middle-income   792930081.60
                 Algeria Arab States Upper-middle-income  4901614848.00
                 Angola  Africa      Lower-middle-income  1961830886.40
Penetration Rate Albania Europe      Upper-middle-income        0.8319%
                 Algeria Arab States Upper-middle-income        0.9222%
                 Angola  Africa      Lower-middle-income        0.3618%

Year                                                               2010  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income          31.73
                 Algeria Arab States Upper-middle-income          12.97
                 Angola  Africa      Lower-middle-income          19.46
Population       Albania Europe      Upper-middle-income     2928720.00
                 Algeria Arab States Upper-middle-income    36188200.00
                 Angola  Africa      Lower-middle-income    23294800.00
Subscribers      Albania Europe      Upper-middle-income     2692370.00
                 Algeria Arab States Upper-middle-income    32780200.00
                 Angola  Africa      Lower-middle-income     9403370.00
Market Size      Albania Europe      Upper-middle-income  1025146801.20
                 Algeria Arab States Upper-middle-income  5101910328.00
                 Angola  Africa      Lower-middle-income  2195874962.40
Penetration Rate Albania Europe      Upper-middle-income        0.9193%
                 Algeria Arab States Upper-middle-income        0.9058%
                 Angola  Africa      Lower-middle-income        0.4037%

Year                                                               2011  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income          25.81
                 Algeria Arab States Upper-middle-income          13.84
                 Angola  Africa      Lower-middle-income          19.24
Population       Albania Europe      Upper-middle-income     2911500.00
                 Algeria Arab States Upper-middle-income    36903400.00
                 Angola  Africa      Lower-middle-income    24218400.00
Subscribers      Albania Europe      Upper-middle-income     3100000.00
                 Algeria Arab States Upper-middle-income    35615900.00
                 Angola  Africa      Lower-middle-income    12073200.00
Market Size      Albania Europe      Upper-middle-income   960132000.00
                 Algeria Arab States Upper-middle-income  5915088672.00
                 Angola  Africa      Lower-middle-income  2787460416.00
Penetration Rate Albania Europe      Upper-middle-income        1.0647%
                 Algeria Arab States Upper-middle-income        0.9651%
                 Angola  Africa      Lower-middle-income        0.4985%

Year                                                               2012  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income          25.76
                 Algeria Arab States Upper-middle-income          13.84
                 Angola  Africa      Lower-middle-income          20.70
Population       Albania Europe      Upper-middle-income     2910000.00
                 Algeria Arab States Upper-middle-income    37646200.00
                 Angola  Africa      Lower-middle-income    25177400.00
Subscribers      Albania Europe      Upper-middle-income     3500000.00
                 Algeria Arab States Upper-middle-income    37527700.00
                 Angola  Africa      Lower-middle-income    12785100.00
Market Size      Albania Europe      Upper-middle-income  1081920000.00
                 Algeria Arab States Upper-middle-income  6232600416.00
                 Angola  Africa      Lower-middle-income  3175818840.00
Penetration Rate Albania Europe      Upper-middle-income        1.2027%
                 Algeria Arab States Upper-middle-income        0.9969%
                 Angola  Africa      Lower-middle-income        0.5078%

Year                                                               2013  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income          31.73
                 Algeria Arab States Upper-middle-income          12.97
                 Angola  Africa      Lower-middle-income          19.46
Population       Albania Europe      Upper-middle-income     2907570.00
                 Algeria Arab States Upper-middle-income    38414200.00
                 Angola  Africa      Lower-middle-income    26165600.00
Subscribers      Albania Europe      Upper-middle-income     3685980.00
                 Algeria Arab States Upper-middle-income    39517000.00
                 Angola  Africa      Lower-middle-income    13285200.00
Market Size      Albania Europe      Upper-middle-income  1403380858.10
                 Algeria Arab States Upper-middle-income  6152654638.80
                 Angola  Africa      Lower-middle-income  3102806286.72
Penetration Rate Albania Europe      Upper-middle-income        1.2677%
                 Algeria Arab States Upper-middle-income        1.0287%
                 Angola  Africa      Lower-middle-income        0.5077%

Year                                                               2014  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income          30.10
                 Algeria Arab States Upper-middle-income          12.80
                 Angola  Africa      Lower-middle-income          18.60
Population       Albania Europe      Upper-middle-income     2903750.00
                 Algeria Arab States Upper-middle-income    39205000.00
                 Angola  Africa      Lower-middle-income    27160800.00
Subscribers      Albania Europe      Upper-middle-income     3359650.00
                 Algeria Arab States Upper-middle-income    43298200.00
                 Angola  Africa      Lower-middle-income    14052600.00
Market Size      Albania Europe      Upper-middle-income  1213505580.00
                 Algeria Arab States Upper-middle-income  6650603520.00
                 Angola  Africa      Lower-middle-income  3136540320.00
Penetration Rate Albania Europe      Upper-middle-income        1.1570%
                 Algeria Arab States Upper-middle-income        1.1044%
                 Angola  Africa      Lower-middle-income        0.5174%

Year                                                               2015  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           6.40
                 Algeria Arab States Upper-middle-income          10.20
                 Angola  Africa      Lower-middle-income          15.40
Population       Albania Europe      Upper-middle-income     2898630.00
                 Algeria Arab States Upper-middle-income    40019500.00
                 Angola  Africa      Lower-middle-income    28157800.00
Subscribers      Albania Europe      Upper-middle-income     3400960.00
                 Algeria Arab States Upper-middle-income    43227600.00
                 Angola  Africa      Lower-middle-income    13884500.00
Market Size      Albania Europe      Upper-middle-income   261193728.00
                 Algeria Arab States Upper-middle-income  5291058240.00
                 Angola  Africa      Lower-middle-income  2565855600.00
Penetration Rate Albania Europe      Upper-middle-income        1.1733%
                 Algeria Arab States Upper-middle-income        1.0802%
                 Angola  Africa      Lower-middle-income        0.4931%

Year                                                               2016  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           6.40
                 Algeria Arab States Upper-middle-income          10.10
                 Angola  Africa      Lower-middle-income          11.20
Population       Albania Europe      Upper-middle-income     2897870.00
                 Algeria Arab States Upper-middle-income    40850700.00
                 Angola  Africa      Lower-middle-income    29183100.00
Subscribers      Albania Europe      Upper-middle-income     3369760.00
                 Algeria Arab States Upper-middle-income    47041300.00
                 Angola  Africa      Lower-middle-income    13001100.00
Market Size      Albania Europe      Upper-middle-income   258797568.00
                 Algeria Arab States Upper-middle-income  5701405560.00
                 Angola  Africa      Lower-middle-income  1747347840.00
Penetration Rate Albania Europe      Upper-middle-income        1.1628%
                 Algeria Arab States Upper-middle-income        1.1515%
                 Angola  Africa      Lower-middle-income        0.4455%

Year                                                               2017  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           6.72
                 Algeria Arab States Upper-middle-income           8.15
                 Angola  Africa      Lower-middle-income          16.18
Population       Albania Europe      Upper-middle-income     2898240.00
                 Algeria Arab States Upper-middle-income    41689300.00
                 Angola  Africa      Lower-middle-income    30234800.00
Subscribers      Albania Europe      Upper-middle-income     3625700.00
                 Algeria Arab States Upper-middle-income    45845700.00
                 Angola  Africa      Lower-middle-income    13324000.00
Market Size      Albania Europe      Upper-middle-income   292248533.30
                 Algeria Arab States Upper-middle-income  4486185127.80
                 Angola  Africa      Lower-middle-income  2586556142.40
Penetration Rate Albania Europe      Upper-middle-income        1.2510%
                 Algeria Arab States Upper-middle-income        1.0997%
                 Angola  Africa      Lower-middle-income        0.4407%

Year                                                               2018  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           7.41
                 Algeria Arab States Upper-middle-income           5.64
                 Angola  Africa      Lower-middle-income           9.75
Population       Albania Europe      Upper-middle-income     2894230.00
                 Algeria Arab States Upper-middle-income    42505000.00
                 Angola  Africa      Lower-middle-income    31297200.00
Subscribers      Albania Europe      Upper-middle-income     2714880.00
                 Algeria Arab States Upper-middle-income    47154300.00
                 Angola  Africa      Lower-middle-income    13288400.00
Market Size      Albania Europe      Upper-middle-income   241407129.60
                 Algeria Arab States Upper-middle-income  3191403024.00
                 Angola  Africa      Lower-middle-income  1554742800.00
Penetration Rate Albania Europe      Upper-middle-income        0.9380%
                 Algeria Arab States Upper-middle-income        1.1094%
                 Angola  Africa      Lower-middle-income        0.4246%

Year                                                               2019  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           7.41
                 Algeria Arab States Upper-middle-income           5.64
                 Angola  Africa      Lower-middle-income           9.75
Population       Albania Europe      Upper-middle-income     2885010.00
                 Algeria Arab States Upper-middle-income    43294500.00
                 Angola  Africa      Lower-middle-income    32375600.00
Subscribers      Albania Europe      Upper-middle-income     2630080.00
                 Algeria Arab States Upper-middle-income    45425500.00
                 Angola  Africa      Lower-middle-income    14830200.00
Market Size      Albania Europe      Upper-middle-income   233866713.60
                 Algeria Arab States Upper-middle-income  3074397840.00
                 Angola  Africa      Lower-middle-income  1735133400.00
Penetration Rate Albania Europe      Upper-middle-income        0.9116%
                 Algeria Arab States Upper-middle-income        1.0492%
                 Angola  Africa      Lower-middle-income        0.4581%

Year                                                               2020  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           7.29
                 Algeria Arab States Upper-middle-income           5.12
                 Angola  Africa      Lower-middle-income           4.49
Population       Albania Europe      Upper-middle-income     2871950.00
                 Algeria Arab States Upper-middle-income    44042100.00
                 Angola  Africa      Lower-middle-income    33451100.00
Subscribers      Albania Europe      Upper-middle-income     2618880.00
                 Algeria Arab States Upper-middle-income    45555700.00
                 Angola  Africa      Lower-middle-income    14645100.00
Market Size      Albania Europe      Upper-middle-income   229099622.40
                 Algeria Arab States Upper-middle-income  2798942208.00
                 Angola  Africa      Lower-middle-income   789077988.00
Penetration Rate Albania Europe      Upper-middle-income        0.9119%
                 Algeria Arab States Upper-middle-income        1.0344%
                 Angola  Africa      Lower-middle-income        0.4378%

Year                                                               2021  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           5.88
                 Algeria Arab States Upper-middle-income           4.92
                 Angola  Africa      Lower-middle-income           3.08
Population       Albania Europe      Upper-middle-income     2849640.00
                 Algeria Arab States Upper-middle-income    44761100.00
                 Angola  Africa      Lower-middle-income    34532400.00
Subscribers      Albania Europe      Upper-middle-income     2635470.00
                 Algeria Arab States Upper-middle-income    47015800.00
                 Angola  Africa      Lower-middle-income    15327900.00
Market Size      Albania Europe      Upper-middle-income   185996713.97
                 Algeria Arab States Upper-middle-income  2777499758.90
                 Angola  Africa      Lower-middle-income   566555970.96
Penetration Rate Albania Europe      Upper-middle-income        0.9248%
                 Algeria Arab States Upper-middle-income        1.0504%
                 Angola  Africa      Lower-middle-income        0.4439%

Year                                                               2022  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           5.31
                 Algeria Arab States Upper-middle-income           4.53
                 Angola  Africa      Lower-middle-income           4.75
Population       Albania Europe      Upper-middle-income     2827610.00
                 Algeria Arab States Upper-middle-income    45477400.00
                 Angola  Africa      Lower-middle-income    35635000.00
Subscribers      Albania Europe      Upper-middle-income     2782230.00
                 Algeria Arab States Upper-middle-income    49018800.00
                 Angola  Africa      Lower-middle-income    23733200.00
Market Size      Albania Europe      Upper-middle-income   177337448.28
                 Algeria Arab States Upper-middle-income  2666414880.29
                 Angola  Africa      Lower-middle-income  1353208205.66
Penetration Rate Albania Europe      Upper-middle-income        0.9840%
                 Algeria Arab States Upper-middle-income        1.0779%
                 Angola  Africa      Lower-middle-income        0.6660%

Year                                                               2023  \
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income           9.88
                 Algeria Arab States Upper-middle-income           4.84
                 Angola  Africa      Lower-middle-income           2.12
Population       Albania Europe      Upper-middle-income     2811660.00
                 Algeria Arab States Upper-middle-income    46164200.00
                 Angola  Africa      Lower-middle-income    36749900.00
Subscribers      Albania Europe      Upper-middle-income     2614760.00
                 Algeria Arab States Upper-middle-income    51522100.00
                 Angola  Africa      Lower-middle-income    25744000.00
Market Size      Albania Europe      Upper-middle-income   310005945.60
                 Algeria Arab States Upper-middle-income  2992403568.00
                 Angola  Africa      Lower-middle-income   654927360.00
Penetration Rate Albania Europe      Upper-middle-income        0.9300%
                 Algeria Arab States Upper-middle-income        1.1161%
                 Angola  Africa      Lower-middle-income        0.7005%

Year                                                             2024
Key Indicator    Country ITU Region  WB Income Group
ARPU             Albania Europe      Upper-middle-income         9.61
                 Algeria Arab States Upper-middle-income         4.89
                 Angola  Africa      Lower-middle-income         1.36
Population       Albania Europe      Upper-middle-income   2791770.00
                 Algeria Arab States Upper-middle-income  46814300.00
                 Angola  Africa      Lower-middle-income  37885800.00
Subscribers      Albania Europe      Upper-middle-income         0.00

In [83]:
print(df_fmt.index.names)

['Key Indicator', 'Country', 'ITU Region', 'WB Income Group']

In [84]:
print("Columns (multi-level):", df_fmt.columns)
print("Columns.names:", df_fmt.columns.names)
print("Index:", df_fmt.index)
print("Index.names:", df_fmt.index.names)
print("First 3 rows:\n", df_fmt.head(3))

Columns (multi-level): Index(['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object', name='Year')
Columns.names: ['Year']
Index: MultiIndex([(       'ARPU',                       'Albania', ...),
            (       'ARPU',                       'Algeria', ...),
            (       'ARPU',                        'Angola', ...),
            (       'ARPU',                       'Armenia', ...),
            (       'ARPU',                     'Australia', ...),
            (       'ARPU',                       'Austria', ...),
            (       'ARPU',                    'Azerbaijan', ...),
            (       'ARPU',                       'Bahrain', ...),
            (       'ARPU',                    'Bangladesh', ...),
            (       'ARPU',                      'Barbados', ...),
            ...
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...),
            ('Subscribers', 'Total - Region & Income Group', ...)],
           names=['Key Indicator', 'Country', 'ITU Region', 'WB Income Group'], length=729)
Index.names: ['Key Indicator', 'Country', 'ITU Region', 'WB Income Group']
First 3 rows:
 Year                                                    2008   2009   2010  \
Key Indicator Country ITU Region  WB Income Group
ARPU          Albania Europe      Upper-middle-income  32.13  26.82  31.73
              Algeria Arab States Upper-middle-income  11.75  12.48  12.97
              Angola  Africa      Lower-middle-income  17.65  20.16  19.46

Year                                                    2011   2012   2013  \
Key Indicator Country ITU Region  WB Income Group
ARPU          Albania Europe      Upper-middle-income  25.81  25.76  31.73
              Algeria Arab States Upper-middle-income  13.84  13.84  12.97
              Angola  Africa      Lower-middle-income  19.24  20.70  19.46

Year                                                    2014   2015   2016  \
Key Indicator Country ITU Region  WB Income Group
ARPU          Albania Europe      Upper-middle-income  30.10   6.40   6.40
              Algeria Arab States Upper-middle-income  12.80  10.20  10.10
              Angola  Africa      Lower-middle-income  18.60  15.40  11.20

Year                                                    2017  2018  2019  \
Key Indicator Country ITU Region  WB Income Group
ARPU          Albania Europe      Upper-middle-income   6.72  7.41  7.41
              Algeria Arab States Upper-middle-income   8.15  5.64  5.64
              Angola  Africa      Lower-middle-income  16.18  9.75  9.75

Year                                                   2020  2021  2022  2023  \
Key Indicator Country ITU Region  WB Income Group
ARPU          Albania Europe      Upper-middle-income  7.29  5.88  5.31  9.88
              Algeria Arab States Upper-middle-income  5.12  4.92  4.53  4.84
              Angola  Africa      Lower-middle-income  4.49  3.08  4.75  2.12

Year                                                   2024
Key Indicator Country ITU Region  WB Income Group
ARPU          Albania Europe      Upper-middle-income  9.61
              Algeria Arab States Upper-middle-income  4.89
              Angola  Africa      Lower-middle-income  1.36

In [85]:
print(df_fmt.columns.tolist())

['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

In [86]:
df_sbrn = df_fmt.copy()

# Reset the MultiIndex to turn index levels into columns
df_sbrn = df_sbrn.reset_index()

# Melt the wide DataFrame so that years become rows
df_sbrn = df_sbrn.melt(
    id_vars=['Key Indicator', 'Country', 'ITU Region', 'WB Income Group'],
    var_name='Year',
    value_name='Value'
)

# Drop rows where 'Value' is missing
df_sbrn = df_sbrn.dropna(subset=['Value'])

# Clean the 'Value' column: remove % and commas, convert to numeric
df_sbrn['Value'] = df_sbrn['Value'].astype(str).str.replace('%', '', regex=False).str.replace(',', '', regex=False)
df_sbrn['Value'] = pd.to_numeric(df_sbrn['Value'], errors='coerce')

# Drop any rows that couldn't be converted to numeric
df_sbrn = df_sbrn.dropna(subset=['Value'])
df_sbrn = df_sbrn[['Key Indicator', 'WB Income Group', 'ITU Region', 'Country', 'Year', 'Value']]


df_sbrn.to_excel("formatted_for_sbrn.xlsx", index=False)

In [87]:
df_sbrn.head()

  Key Indicator      WB Income Group    ITU Region    Country  Year  Value
0          ARPU  Upper-middle-income        Europe    Albania  2008  32.13
1          ARPU  Upper-middle-income   Arab States    Algeria  2008  11.75
2          ARPU  Lower-middle-income        Africa     Angola  2008  17.65
3          ARPU  Upper-middle-income           CIS    Armenia  2008  14.63
4          ARPU          High-income  Asia-Pacific  Australia  2008  42.56

In [88]:
df_sbrn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12393 entries, 0 to 12392
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Key Indicator    12393 non-null  object
 1   WB Income Group  11458 non-null  object
 2   ITU Region       11458 non-null  object
 3   Country          12393 non-null  object
 4   Year             12393 non-null  object
 5   Value            12393 non-null  float64
dtypes: float64(1), object(5)
memory usage: 581.1+ KB